body {
	font-family: 'Tourney', cursive;
	background-color: #0D0D0D;
}

h1 {
	margin: 10%;
	padding: 10%;
	font-size: 36px;
	color: #3BBF8F;
	background-color: #022619;
	box-shadow: -10px 10px; 
}

h4 {
	font-size: 24px;
	color: #3BBF8F;
	margin: 10%;
}

p {
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
	color: white;
	font-size: 14px;
	margin: 10%;
}

div {
	margin: auto;
	/*border: solid red 1px;*/
}

.botonera {
	margin: 10%;
}

.btn-primary {
	background-color: #022619;
	font-family: 'Roboto Mono', monospace;
	font-weight: bold;
}

.btn-primary:hover {
	background-color: #3BBF8F;
	color: #022619;
	box-shadow: -10px 10px;
}

.status {
	margin-top: 40px;
	background-color: #022619;
	box-shadow: -10px 10px;
	margin: 10%;
}

.dice {
	margin-top: 40px;
	background-color: #022619;
	box-shadow: -10px 10px;
	margin: 10%;
}

/*
.left {
	width: 50%;
	text-align: left;
	float: left;
}
.right {
	float: right;
	width: 49%;
}
*/
