@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

* {box-sizing: border-box;}

.row::after {content: ""; clear: both; display: table;}

[class*="col-"] {float: left;}


@media only screen and (min-width: 400px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

html, body {
  overflow: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}
body {
  padding-top: 5%;
  padding-left: 11%;
  padding-right: 11%;
  padding-bottom: 5%;
}

body:hover {
    cursor: pointer;
}

.full-height {
  height: 100%;
}

.backgroundtodo {
  background-color: white;
}
.backgroundblack {
  background-color: black;
}


img {
  max-width: 3%;
}
#speak {
    align-content: center;
    text-align: center;
    padding-top: 3%;
}


.backgroundinicio {
background-color: black;
}

.button-wrappers {
  padding-top: 35%;
  top: 0;
}


.primary-button {
  text-align: center;
  padding: 25px 0px;
  position: relative;
  top: 0;
}


h1 {
  font-family: 'Quicksand', sans-serif;
  color: red;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

p {
  font-family: 'Quicksand', sans-serif;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: lighter
}

span {
  color: red;
}


a:link {
  color: black;
  padding: 15px 25px;
  background-color: white;
  border-radius: 25px;
}

a:hover {
  color: black;
  background-color: red; 
}

a {
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  align-items: center;
  list-style: none;
}
.padding0 {
  padding: 3%;
}



/*ABRIR OJOS seguro?uno*/
#objeto1parpados {
  width: 100%;
  height: 25%;
  background-color: black;
  animation-name: bajar;
  position: relative;
  animation-duration: 1s;
  animation-iteration-count: 5;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@-webkit-keyframes bajar {
  0% {transform: translate(0%,0%);}
  100% {transform: translate(0%,-100%);}
}

@keyframes bajar {
  0% {transform: translate(0%,0%);}
  100% {transform: translate(0%,-100%);}
}



#objeto2parpados {
  width: 100%;
  height: 100%;
  background-color: black;
  animation-name: levantar;
  position: relative;
  animation-duration: 1s;
  animation-iteration-count: 5;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@-webkit-keyframes levantar {
  0% {transform: translate(0%,0%);}
  100% {transform: translate(0%,90%);}
}

@keyframes levantar {
  0% {transform: translate(0%,0%);}
  100% {transform: translate(0%,90%);}
}

/*CERRAR OJOS seguro?venitidos*/
#objeto3parpados {
  width: 100%;
  height: 25%;
  background-color: black;
  animation-name: cerrarbajar;
  position: relative;
  animation-duration: 1s;
  animation-iteration-count: 5;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@-webkit-keyframes cerrarbajar {
  0% {transform: translate(0%,-100%);}
  100% {transform: translate(0%,0%);}
}

@keyframes cerrarbajar {
  0% {transform: translate(0%,-100%);}
  100% {transform: translate(0%,0%);}
}



#objeto4parpados {
  width: 100%;
  height: 100%;
  background-color: black;
  animation-name: cerrarlevantar;
  position: relative;
  animation-duration: 1s;
  animation-iteration-count: 5;
  animation-direction: alternate;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

@-webkit-keyframes cerrarlevantar {
  0% {transform: translate(0%,90%);}
  100% {transform: translate(0%,0%);}
}

@keyframes cerrarlevantar {
  0% {transform: translate(0%,90%);}
  100% {transform: translate(0%,0%);}
}



/*BOTÓN DICE QUE NO*/

@keyframes movno {
  0% {transform: translate(0%,0%);}
  33% {transform: translate(2%,0%);}
  66% {transform: translate(-2%,0%);}
  100% {transform: translate(0%,0%);}
}

@-webkit-keyframes movno {
  0% {transform: translate(0%,0%);}
  33% {transform: translate(2%,0%);}
  66% {transform: translate(-2%,0%);}
  100% {transform: translate(0%,0%);}
}

.shake-horizontal:hover {
  animation-direction: normal;
  animation-name: movno;
  animation-duration: 0.3s;
  animation-iteration-count: 5;
  animation-timing-function: ease;
}


/*BOTÓN DICE QUE SI*/

@keyframes movsi {
  from {transform: translate(0%,0%);}
  to {transform: translate(0%,20%);}
}

@-webkit-keyframes movsi {
  from {transform: translate(0%,0%);}
  to {transform: translate(0%,20%);}
}

.shake-vertical:hover {
  animation-direction: alternate;
  animation-name: movsi;
  animation-duration: 0.1s;
  animation-iteration-count: 10;
  animation-timing-function: ease-in-out;
}

/*BOTÓN ANSIEDAD*/
.ansiedad:hover {
  animation-direction: alternate;
  animation-name: movansi;
  animation-duration: 0.5s;
  animation-iteration-count: 10;
  animation-timing-function: ease-in-out;
}

@keyframes movansi {
  0% {transform: translate(0%,0%);}
  15% {transform: translate(3%,-6%);}
  30% {transform: translate(0%,9%);}
  45% {transform: translate(-2%,7%);}
  60% {transform: translate(2%,0%);}
  75% {transform: translate(0%,-6%);}
  90% {transform: translate(-3%,9%);}
  100% {transform: translate(0%,0%);}  
}

@-webkit-keyframes movansi {
  0% {transform: translate(0%,0%);}
  15% {transform: translate(3%,-6%);}
  30% {transform: translate(0%,9%);}
  45% {transform: translate(-2%,7%);}
  60% {transform: translate(2%,0%);}
  75% {transform: translate(0%,-6%);}
  90% {transform: translate(-3%,9%);}
  100% {transform: translate(0%,0%);} 
}


.movpedobot:hover{
  animation-name: movpedobot;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: 10;
  transform-origin: 0 0;
}
@keyframes movpedobot {
  0% {transform: translate(0%,0%);}
  15% {transform: translate(5%,-19%);}
  30% {transform: translate(-12%,5%);}
  45% {transform: translate(-8%,19%);}
  60% {transform: translate(0%,10%);}
  75% {transform: translate(15%,-16%);}
  90% {transform: translate(9%,-2%);}
  100% {transform: translate(0%,0%);} 
}
@-webkit-keyframes movpedobot {
  0% {transform: translate(0%,0%);}
  15% {transform: translate(5%,-19%);}
  30% {transform: translate(-12%,5%);}
  45% {transform: translate(-8%,19%);}
  60% {transform: translate(0%,10%);}
  75% {transform: translate(15%,-16%);}
  90% {transform: translate(9%,-2%);}
  100% {transform: translate(0%,0%);} 
}

.movpedobotfuerte:hover{
  animation-name: movpedobotfuerte;
  animation-duration: 8s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: 10;
  transform-origin: 0 0;
}
@keyframes movpedobotfuerte {
  0% {transform: translate(0%,0%);}
  15% {transform: translate(5%,-19%);}
  30% {transform: translate(-22%,5%);}
  45% {transform: translate(-8%,19%);}
  60% {transform: translate(0%,-10%);}
  75% {transform: translate(-10%,-16%);}
  90% {transform: translate(19%,2%);}
  100% {transform: translate(0%,0%);} 
}
@-webkit-keyframes movpedobotfuerte {
  0% {transform: translate(0%,0%);}
  15% {transform: translate(5%,-19%);}
  30% {transform: translate(-22%,5%);}
  45% {transform: translate(-8%,19%);}
  60% {transform: translate(0%,-10%);}
  75% {transform: translate(-10%,-16%);}
  90% {transform: translate(19%,2%);}
  100% {transform: translate(0%,0%);} 
}




/*POSICIONES*/
.position1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.position2 {
  position: absolute;
  width: 80%;
  height: 80%;
  padding-right: 5%;
  z-index: -1;
}

.position3 {
  position: relative;
  z-index: -1;
}

.position4 {
  position: absolute;
  width: 90%;
  height: 90%;
  padding-bottom: 20%;
  padding-left: 18%;
   z-index: -1;
}

.position5 {
  position: absolute;
  width: 95%;
  height: 95%;
  padding-left: 15%;
  z-index: -1;
  top: 15%;
}

.position5a {
  position: absolute;
  width: 95%;
  height: 95%;
  padding-left: 15%;
  z-index: -1;
  top: 20%;
}
.position6 {
  position: absolute;
  width: 78%;
  height: 78%;
  z-index: -1;
  right: 20%;
  top: 27%;
}

.position7 {
  position: absolute;
  width: 95%;
  height: 95%;
  padding-left: 15%;
  bottom: 1%;
  z-index: -1;
}

.position8 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.position9 {
  position: absolute;
  width: 95%;
  height: 95%;
  padding-left: 15%;
  bottom: 1%;
  z-index: -1;
}

.position10 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.position11 {
  position: absolute;
  width: 30%;
  height: 30%;
  z-index: -1;
  align-content: center;
  left: 37%;
  top: 50%;
}

.position12 {
  position: absolute;
  left: -3%;
  top: 5%;
  width: 70%;
  height: 70%;
  z-index: -1;
  align-content: center;
}

.position13 {
  position: absolute;
  left: 10%;
  top: 5%;
  width: 70%;
  height: 70%;
  z-index: -1;
  align-content: center;
}

.position14 {
  position: absolute;
  left: 20%;
  top: 5%;
  width: 70%;
  height: 70%;
  z-index: -1;
  align-content: center;
}
.position15 {
  position: absolute;
  left: 35%;
  top: 5%;
  width: 65%;
  height: 65%;
  z-index: -1;
  align-content: center;
}
.position16 {
  position: absolute;
  left: 35%;
  top: 45%;
  width: 40%;
  height: 40%;
  z-index: -1;
  align-content: center;
}




/*MOVIMIENTOS*/
.movmano {
  animation-name: movmano-keyframes;
  animation-duration: 3s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
  position: relative;
}
@keyframes movmano-keyframes {
 0% {transform:scale(1) rotateX(10deg) rotateY(0deg) rotateZ(0deg) translate(0%, 20%);}
100% {transform: scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0% -15%);}
}



.movansiedad {
  animation-name: movansiedad-keyframes;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}
@keyframes movansiedad-keyframes {
  0% { opacity: .5; transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-5%, -5%);animation-timing-function: cubic-bezier(.2,.2,.7,.5);}
  12% {transform:translate(10px, 10px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-5%, -5%);animation-timing-function: cubic-bezier(.2,.2,.7,.7);}
  30% {transform:translate(14px, -19px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-5%, -5%);animation-timing-function: cubic-bezier(.2,.2,.7,.7);}
  40% {opacity: .75; transform:translate(13px, 9px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-5%, -5%);animation-timing-function: cubic-bezier(.5,.5,.5,.5);}
  65% {transform:translate(2px, -7px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-5%, -5%);animation-timing-function: cubic-bezier(.2,.5,.7,.7);}
  75% {opacity: .3; transform:translate(1px, 2px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-5%, -5%);animation-timing-function: cubic-bezier(.5,.5,.5,.7);}
  90% {transform:translate(4px, -2px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-5%, -5%);}
  100% {opacity: .6; transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-5%, -5%);animation-timing-function: cubic-bezier(.2,.2,.7,.5);}
}html::after { content: url(https://ga-beacon.appspot.com/UA-42910121-1/stylie?pixel); position: absolute; left: -999em; }





.movpedo  {
  animation-name: movpedo;
  animation-duration: 6s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}
@keyframes movpedo {
  0% {transform:scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-3%, -5%);}
  12% {transform:scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(5%, 0%);}
  30% {transform:scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-2%, 4%);}
  40% {transform:scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-5%, -5%);}
  65% {transform:scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, -5%);}
  75% {transform:scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-5%, 0%);}
  90% {transform:scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(2%, 3%);}
  100% {transform:scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-3%, -5%);}
}html::after { content: url(https://ga-beacon.appspot.com/UA-42910121-1/stylie?pixel); position: absolute; left: -999em; }


.movpersonas1 {  animation-name: movbaile1;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}
@keyframes movbaile1 {
 0% {transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(3%, -2%);animation-timing-function: cubic-bezier(.2,.2,.7,.5);}
  12% {transform:translate(10px, 10px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-4%, 4%);animation-timing-function: cubic-bezier(.2,.2,.7,.7);}
  75% {transform:translate(1px, 2px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(4%, 0%);animation-timing-function: cubic-bezier(.5,.5,.5,.7);}
  90% {transform:translate(4px, -2px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(3%, -3%);}
  100% {transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(3%, -2%);animation-timing-function: cubic-bezier(.2,.2,.7,.5);}
}html::after { content: url(https://ga-beacon.appspot.com/UA-42910121-1/stylie?pixel); position: absolute; left: -999em; }

.movpersonas2 {  animation-name: movbaile2;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}
@keyframes movbaile2 {
   0% {transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-4%, -4%);animation-timing-function: cubic-bezier(.2,.2,.7,.5);}
  30% {transform:translate(14px, -19px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, -3%);animation-timing-function: cubic-bezier(.2,.2,.7,.7);}
  40% {transform:translate(13px, 9px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-3%, 0%);animation-timing-function: cubic-bezier(.5,.5,.5,.5);}
  65% {transform:translate(2px, -7px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-4%, -4%);animation-timing-function: cubic-bezier(.2,.5,.7,.7);}
}html::after { content: url(https://ga-beacon.appspot.com/UA-42910121-1/stylie?pixel); position: absolute; left: -999em; }

.movpersonas3 {  animation-name: movbaile3;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}
@keyframes movbaile3 {
  0% {transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(2%, 2%);animation-timing-function: cubic-bezier(.2,.2,.7,.5);}
  40% {transform:translate(13px, 9px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-3%, -2%);animation-timing-function: cubic-bezier(.5,.5,.5,.5);}
 100% {transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(2%, 2%);animation-timing-function: cubic-bezier(.2,.2,.7,.5);}
}html::after { content: url(https://ga-beacon.appspot.com/UA-42910121-1/stylie?pixel); position: absolute; left: -999em; }

.movpersonas4 {  
  animation-name: movbaile4;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}
@keyframes movbaile4 {
  0% {transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-1%, -2%);animation-timing-function: cubic-bezier(.2,.0,.7,.5);}
  30% {transform:translate(13px, 9px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-3%, -5%);animation-timing-function: cubic-bezier(.5,.5,.5,.5);}
  60% {transform:translate(13px, 9px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(4%, 0%);animation-timing-function: cubic-bezier(.5,.5,.5,.5);}
 100% {transform:translate(0px, 0px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-1%, -2%);animation-timing-function: cubic-bezier(.5,.3,.7,.4);}
}html::after { content: url(https://ga-beacon.appspot.com/UA-42910121-1/stylie?pixel); position: absolute; left: -999em; }

.movpastillas  {
  animation-name: movpastis;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 0 0;
}
@keyframes movpastis {
  0% {transform:translate(0px, 0px) scale(0.8) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-5%, 5%);animation-timing-function: cubic-bezier(.2,.2,.7,.5);}
  12% {transform:translate(15px, 10px) scale(1) rotateX(0deg) rotateY(10deg) rotateZ(0deg) translate(5%, -5%);animation-timing-function: cubic-bezier(.2,.2,.7,.7);}
  30% {transform:translate(-14px, 10px) scale(1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(10%, -15%);animation-timing-function: cubic-bezier(.2,.2,.7,.7);}
  40% {transform:translate(16px, 9px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-15%, -5%);animation-timing-function: cubic-bezier(.5,.5,.5,.5);}
  65% {transform:translate(-12px, -7px) scale(0.7) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-5%, 0%);animation-timing-function: cubic-bezier(.2,.5,.7,.7);}
  75% {transform:translate(-18px, 2px) scale(1.3) rotateX(10deg) rotateY(0deg) rotateZ(0deg) translate(-20%, -5%);animation-timing-function: cubic-bezier(.5,.5,.5,.7);}
  90% {transform:translate(-25px, -2px) scale(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(0%, 0%);animation-timing-function: cubic-bezier(.2,.2,.7,.5);}
  100% {transform:translate(0px, 0px) scale(0.8) rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-5%, 5%);animation-timing-function: cubic-bezier(.2,.2,.7,.5);}
}html::after { content: url(https://ga-beacon.appspot.com/UA-42910121-1/stylie?pixel); position: absolute; left: -999em; }

/*.movpedoambiente {
  animation-name: movpedoambiente;
  animation-duration: 6s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}
@keyframes movpedoambiente {
  from {transform: rotate(0deg) scale(2.2);}
  to {transform: rotate(360deg) scale(2.2);}
}*/