@import url('https://fonts.googleapis.com/css?family=Lato|Oswald&display=swap');

* {box-sizing: border-box;}

.row::after {content: ""; clear: both; display: table;}

[class*=col-] {float: left}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {[class*="col-"]{width: 100%;}}

/* ESTILO GENERAL DEL SITIO */

html, body {
        height: 100%;
}

body {
	background-color: whitesmoke;
	overflow: hidden;
}

p {
    font-family: 'Lato', sans-serif;
}

h3 {
    color: #f2055c;
    font-family: 'Oswald', sans-serif;
    font-size: 22pt;
    text-align: right;

}



.cursor {
    cursor: pointer;
}

/* Personaje en pantalla juego*/
.personaje {
        height: 100%;
        width: auto;
        display: block;
        margin: auto;
        padding: 5% 25%;
}

/*ESTILO DE PAGINA INDEX*/

.index {
        background-image: url(img/caratula.png);
        background-repeat: no-repeat;
        background-position: center;
        
}

.boton3 {
        position: absolute;
        top: 50%;
        left: 15%;
}
    
.boton4 {
        position: absolute;
        top: 50%;
        left: 75%;
}

div .boton3 a, div .boton4 a {
        display: inline-block;
        background-color: #05f2db;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 14pt;
        padding: 15px 30px;
        font-family: 'Oswald', sans-serif;
    }



.boton3 a:hover, .boton4 a:hover {
        color: black;
        display: inline-block;
        background-color:#f2055c;
        text-align: center;
        border-radius: 15px;
}

.marquesina {
    position: absolute;
    animation: mov 20s infinite linear;
    top: 35%;
    left: 100%;    
}

@keyframes mov {
    0% {left: 100%; top: 35%; color: #05dbf2;}
    50% {color: #f29f05;}
    100% {left: -50%; top: 35%; color: #f2055c;}
}

.marquesina p {
    font-size: 1.5vw;
    text-shadow: 1px 1px 1px gray;
}

/* CUENTA REGRESIVA 3,2,1, YA! */

#cuentatras {
        width: 415px;
        height: 335px;
        position: fixed;
        background: url("img/inicio.png");
        background-repeat: no-repeat;
        left: 35%;
        top: 35%;
        animation: atras 30s linear 1 normal forwards;
    }

/*animacion cuenta atras */
    
@keyframes atras{
        0% {
                background-position: 0 0;
                opacity: 1;
            }
            
            2% {
                background-position: 0 0;
               opacity: 0;
            }
            
             3% {
                   background-position: 0 -335px;
                   opacity: 0;
             }
            
            5% {
                opacity: 1;
                background-position: 0 -335px;
            }
            
            7% {
                background-position: 0 -335px;
               opacity: 0;
            }
            
             8% {
                   background-position: 0 -670px;
                   opacity: 0;
             }
            
            
            10% {
                background-position: 0 -670px;
                opacity: 1;
            }
            
            12% {
                background-position: 0 -670px;
               opacity: 0;
            }
            
             13% {
                   background-position: 0 -1005px;
                   opacity: 0;
             }
            
            15% {
                opacity: 1;
                background-position: 0 -1005px;
            }
            
            17% {
               background-position: 0 -1005px;
               opacity: 0;
            }
            
            95% {
                opacity: 0;
                background-position: 0 -1340px;
            }
            100% {
            background-position: 0 -1340px;
                opacity: 1;
            }
        }
        
/*ANIMACION CRONOMETRO Y VIDA DEL JUGADOR*/

#contenedor {
        width: 100%;
        height: 100%;
        position: relative;
}

#crono {
        width: 100%;
        height: 100%;
        position: absolute;
        text-align: center;
        font-family: arial;
        color: #f2055c;
        font-weight: bold;
        padding-top: 5px 10px;
        font-size: 3vw;
        z-index: 9999;
}

.vida {
        padding: 10px 20px;
}


/*ANIMACION MICROBIO AZUL JUEGO 1*/

.circ { 
        display: block;
        position: absolute;
        animation: circulo 12s alternate 1 ease-out forwards;
        animation-delay: 5s;
        left: -10%;
        top: 10%;
}

@keyframes circulo {
        0% {left: -10%; top: 10%;}
        100% {left: 50%; top: 50%;}
}

.circ2 { 
        position: absolute;
        animation: circul 11s alternate 1 ease-out forwards;
        animation-delay: 6s;
        left: 30%;
        top: -50%;
}

@keyframes circul {
        0% {left: 30%; top: -50%;}
        100% {left: 39%; top: 45%;}
}

.circ3 { 
        position: absolute;
        animation: circu 12s alternate 1 ease-out forwards;
        animation-delay: 8s;
        left: 90%;
        top: -50%;
}
 

@keyframes circu {
        0% {left: 90%; top: -50%;}
        100% {left: 45%; top: 50%;}
}

.circ4 { 
        position: absolute;
        animation: circ 12s alternate 1 ease-out forwards;
        animation-delay: 16s;
        left: 15%;
        top: 150%;
} 

@keyframes circ {
        0% {left: 15%; top: 150%;}
        100% {left: 55%; top: 45%;}
}

.circ5 { 
        position: absolute;
        animation: circ5 11s alternate 1 ease-out forwards;
        animation-delay: 13s;
        left: 10%;
        top: -50%;
} 

@keyframes circ5 {
        0% {left: 10%; top: -50%;}
        100% {left: 35%; top: 35%;}
}

.circ6 { 
        position: absolute;
        animation: circ6 12s alternate 1 ease-out forwards;
        animation-delay: 14s;
        left: 85%;
        top: 150%;
} 

@keyframes circ6 {
        0% {left: 85%; top: 150%;}
        100% {left: 45%; top: 28%;}
}

.circ7 { 
        position: absolute;
        animation: circ7 12s alternate 1 ease-out forwards;
        animation-delay: 12s;
        left: 15%;
        top: 150%;
} 

@keyframes circ7 {
        0% {left: 15%; top: 150%;}
        100% {left: 46%; top: 20%;}
}

.circ8 { 
        position: absolute;
        animation: circ8 12s alternate 1 ease-out forwards;
        animation-delay: 20s;
        left: 60%;
        top: 150%;
} 

@keyframes circ8 {
        0% {left: 60%; top: 150%;}
        100% {left: 55%; top: 38%;}
}

.circ9 { 
        position: absolute;
        animation: circ9 12s alternate 1 ease-out forwards;
        animation-delay: 17s;
        left: 125%;
        top: 35;
} 

@keyframes circ9 {
        0% {left: 125%; top: 35%;}
        100% {left: 39%; top: 38%;}
}


/* ANIMACION MICROBIO VERDE JUEGO 1 */

.cua {
        position: absolute;
        animation: cuadrado 0.5s alternate 1 ease-out forwards;
        animation-delay: 20s;
        left: -30%;
        top: 125%;
}

@keyframes cuadrado {
        0% {left: -30%; top: 125%;}
        100% {left: 40%; top: 40%;}
}

.cua2 { 
        position: absolute;
        animation: cuadrad 12s alternate 1 ease-out forwards;
        animation-delay: 20s;
        left: -50%;
        top: -120%;

}

@keyframes cuadrad {
        0% {left: -50%; top: -120%;}
        100% {left: 50%; top: 35%;}
}

.cua3 { 
        position: absolute;
        animation: cuadra 11s alternate 1 ease-out forwards;
        animation-delay: 4s;
        left: -60%;
        top: -45%;
} 

@keyframes cuadra {
        0% {left: -60%; top: -45%;}
        100% {left: 50%; top: 60%;}
}

.cua4 { 
        position: absolute;
        animation: cuadr 0.5s alternate 1 ease-out forwards;
        animation-delay: 10s;
        left: -20%;
        top: -56;
} 

@keyframes cuadr {
        0% {left: -20%; top: -56%;}
        100% {left: 45%; top: 50%;}
}

.cua5 { 
        position: absolute;
        animation: cuad 11s alternate 1 ease-out forwards;
        animation-delay: 15s;
        left: 50%;
        top: 150%;
} 

@keyframes cuad {
        0% {left: 50%; top: 150%;}
        100% {left: 45%; top: 55%;}
}

.cua6 { 
        position: absolute;
        animation: cua 12s alternate 1 ease-out forwards;
        animation-delay: 19s;
        left: 85%;
        top: -90%;
} 

@keyframes cua {
        0% {left: 85%; top: -90%;}
        100% {left: 48%; top: 35%;}

}

.cua7 {
        position: absolute;
        animation: cu 0.4s alternate 1 ease-out forwards;
        animation-delay: 16s;
        left: -78%;
        top: -45%;
}

@keyframes cu {
        0% {left: -78%; top: -45%;}
        100% {left: 35%; top: 25%;}
}

.cua8 {
        position: absolute;
        animation: cua8 11s alternate 1 ease-out forwards;
        animation-delay: 9s;
        left: 88%;
        top: -35%;
}

@keyframes cua8 {
        0% {left: 88%; top: -35%;}
        100% {left: 45%; top: 35%;}
}


.cua9 {
        position: absolute;
        animation: cua9 0.5s alternate 1 ease-out forwards;
        animation-delay: 19s;
        left: -38%;
        top: -75%;
}

@keyframes cua9 {
        0% {left: -38%; top: -75%;}
        100% {left: 60%; top: 35%;}
}

/* ANIMACION MICROBIO ROJO JUEGO 1 */

.tri {
        position: absolute;
        animation: triangulos 12s alternate 1 ease-out forwards;
        animation-delay: 20s;
        left: -50%;
        top: 20%;
}

@keyframes triangulos {
        0% {left: -50%; top: 20%;}
        100% {left: 45%; top: 55%;}
}

.tri2 { 
        position: absolute;
        animation: triangul 12s alternate 1 ease-out forwards;
        animation-delay: 30s;
        left: -20%;
        top: 66%;

}

@keyframes triangul {
        0% {left: -20%; top: 66%;}
        100% {left: 35%; top: 35%;}
}

.tri3 { 
        position: absolute;
        animation: triangu 12s alternate 1 ease-out forwards;
        animation-delay: 10s;
        left: -30%;
        top: 20%;
} 

@keyframes triangu {
        0% {left: -30%; top: 20%;}
        100% {left: 50%; top: 60%;}
}

.tri4 { 
        position: absolute;
        animation: triang 11s alternate 1 ease-out forwards;
        animation-delay: 8s;
        left: -45%;
        top: -90%;
} 

@keyframes triang {
        0% {left: -45%; top: -90%;}
        100% {left: 45%; top: 28%;}
}

.tri5 { 
        position: absolute;
        animation: trian 12s alternate 1 ease-out forwards;
        animation-delay: 10s;
        left: -90%;
        top: -50%;
} 

@keyframes trian {
        0% {left: -90%; top: -50%;}
        100% {left: 58%; top: 35%;}
}

.tri6 { 
    position: absolute;
    animation: tria 12s alternate 1 ease-out forwards;
    animation-delay: 10s;
    left: 150;
    top: -50%;
} 

@keyframes tria {
    0% {left: 150%; top: -50%;}
    100% {left: 58%; top: 35%;}
}

/* ANIMACION MICROBIO VERDE JUEGO 2 */

.cuapant2 {
        position: absolute;
        animation: cuapant2 11s alternate 1 ease-out forwards;
        animation-delay: 17s;
        left: -80%;
        top: -10%;
}
    
    @keyframes cuapant2 {
        0% {left: -80%; top: -10%;}
        100% {left: 38%; top: 25%}
}
    
.cua2pant2 {
        position: absolute;
        animation: cua2pant2 11s alternate 1 ease-out forwards;
        animation-delay: 5s;
        left: -30%;
        top: 90%;
}
    
    @keyframes cua2pant2 {
        0% {left: -30%; top: 90%;}
        100% {left: 48%; top: 55%}
}
    
.cua3pant2 {
        position: absolute;
        animation: cua3pant2 12s alternate 1 ease-out forwards;
        animation-delay: 8s;
        left: 110%;
        top: 10%;
}
    
    @keyframes cua3pant2 {
        0% {left: 110%; top: 10%;}
        100% {left: 38%; top: 15%}
}
    
.cua4pant2 {
        position: absolute;
        animation: cua4pant2 12s alternate 1 ease-out forwards;
        animation-delay: 10s;
        left: 110%;
        top: 110%;
}
    
    @keyframes cua4pant2 {
        0% {left: 110%; top: 110%;}
        100% {left: 58%; top: 55%}
}
    
    .cua5pant2 {
        position: absolute;
        animation: cua5pant2 12s alternate 1 ease-out forwards;
        animation-delay: 18s;
        left: -10%;
        top: -10%;
    }
    
    @keyframes cua5pant2 {
        0% {left: -10%; top: -10%;}
        100% {left: 28%; top: 45%}
    }
    
    .cua6pant2 {
        position: absolute;
        animation: cua6pant2 11s alternate 1 ease-out forwards;
        animation-delay: 24s;
        left: 110%;
        top: 110%;
    }
    
    @keyframes cua6pant2 {
        0% {left: 110%; top: 110%;}
        100% {left: 58%; top: 35%}
    }
    
    
    .cua7pant2 {
        position: absolute;
        animation: cua7pant2 1s alternate 1 ease-out forwards;
        animation-delay: 30s;
        left: 130%;
        top: -90%;
    }
    
    @keyframes cua7pant2 {
        0% {left: 130%; top: -90%;}
        100% {left: 38%; top: 43%}
    }
    
    
    .cua8pant2 {
        position: absolute;
        animation: cua8pant2 12s alternate 1 ease-out forwards;
        animation-delay: 10s;
        left: -13%;
        top: 95%;
    }
    
    @keyframes cua8pant2 {
        0% {left: -13%; top: 95%;}
        100% {left: 39%; top: 48%}
    }
    
    .cua9pant2 {
        position: absolute;
        animation: cua9pant2 12s alternate 1 ease-out forwards;
        animation-delay: 7s;
        left: -80%;
        top: -80%;
    }
    
    @keyframes cua9pant2 {
        0% {left: -80%; top: -80%;}
        100% {left: 55%; top: 45%}
    }

/* ANIMACION MICROBIO AZUL JUEGO 2 */

.circpant2 {
        position: absolute;
         animation: circpant2 12s alternate 1 ease-out forwards;
        animation-delay: 6s;
        left: -20%;
        top: -20%;
    }
    
    @keyframes circpant2 {
        0% {left: -20%; top: -20%;}
        100% {left: 45%; top: 35%}
    }
    
    .circ2pant2 {
        position: absolute;
         animation: circ2pant2 11s alternate 1 ease-out forwards;
        animation-delay: 13s;
        left: -30%;
        top: -30%;
    }
    
    @keyframes circ2pant2 {
        0% {left: -30%; top: -30%;}
        100% {left: 49%; top: 37%}
    }
    
    .circ3pant2 {
        position: absolute;
         animation: circ3pant2 12s alternate 1 ease-out forwards;
        animation-delay: 9s;
        left: 145%;
        top: 120%;
    }
    
    @keyframes circ3pant2 {
        0% {left: 145%; top: 120%;}
        100% {left: 38%; top: 20%}
    }
    
    .circ4pant2 {
        position: absolute;
         animation: circ4pant2 0.5s alternate 1 ease-out forwards;
        animation-delay: 19s;
        left: 110%;
        top: 110%;
    }
    
    @keyframes circ4pant2 {
        0% {left: 110%; top: 110%;}
        100% {left: 43%; top: 26%}
    }
    
    .circ5pant2 {
        position: absolute;
         animation: circ5pant2 12s alternate 1 ease-out forwards;
        animation-delay: 21s;
        left: -30%;
        top: -20%;
    }
    
    @keyframes circ5pant2 {
        0% {left: -30%; top: -20%;}
        100% {left: 57%; top: 26%}
    }
    
    .circ6pant2 {
        position: absolute;
         animation: circ6pant2 11s alternate 1 ease-out forwards;
        animation-delay: 20s;
        left: -12%;
        top: 14%;
    }
    
    @keyframes circ6pant2 {
        0% {left: -12%; top: 14%;}
        100% {left: 57%; top: 34%}
    }
    
    .circ7pant2 {
        position: absolute;
         animation: circ7pant2 0.5s alternate 1 ease-out forwards;
        animation-delay: 23s;
        left: -20%;
        top: -50%;
    }
    
    @keyframes circ7pant2 {
        0% {left: -20%; top: -50%;}
        100% {left: 53%; top: 21%}
    }
    
    .circ8pant2 {
        position: absolute;
         animation: circ8pant2 12s alternate 1 ease-out forwards;
        animation-delay: 7s;
        left: 123%;
        top: -43%;
    }
    
    @keyframes circ8pant2 {
        0% {left: 123%; top: -43%;}
        100% {left: 56%; top: 16%}
    }
    
    .circ9pant2 {
        position: absolute;
         animation: circ9pant2 0.5s alternate 1 ease-out forwards;
        animation-delay: 14s;
        left: 114%;
        top: -45%;
    }
    
    @keyframes circ9pant2 {
        0% {left: 100%; top: -45%;}
        100% {left: 45%; top: 62%}
    }
    
/* ANIMACION MICROBIO ROJO JUEGO 2 */

.tripant2 {
        position: absolute;
         animation: tripant2 11s alternate 1 ease-out forwards;
        animation-delay: 8s;
        left: -80%;
        top: -45%;
    }
    
    @keyframes tripant2 {
        0% {left: -80%; top: -45%;}
        100% {left: 52%; top: 12%}
    }
    
    .tri2pant2 {
        position: absolute;
         animation: tri2pant2 12s alternate 1 ease-out forwards;
        animation-delay: 30s;
        left: 110%;
        top: -90%;
    }
    
    @keyframes tri2pant2 {
        0% {left: 110%; top: -90%;}
        100% {left: 42%; top: 68%}
    }
    
    .tri3pant2 {
        position: absolute;
         animation: tri3pant2 12s alternate 1 ease-out forwards;
        animation-delay: 12s;
        left: -95%;
        top: -10%;
    }
    
    @keyframes tri3pant2 {
        0% {left: -95%; top: -10%;}
        100% {left: 62%; top: 28%}
    }
    
    .tri4pant2 {
        position: absolute;
         animation: tri4pant2 11s alternate 1 ease-out forwards;
        animation-delay: 13s;
        left: 123%;
        top: 123%;
    }
    
    @keyframes tri4pant2 {
        0% {left: 123%; top: 123%;}
        100% {left: 27%; top: 50%}
    }
    
    .tri6pant2 {
        position: absolute;
         animation: tri6pant2 12s alternate 1 ease-out forwards;
        animation-delay: 8s;
        left: 0%;
        top: 110%;
    }
    
    @keyframes tri6pant2 {
        0% {left: 0%; top: 110%;}
        100% {left: 61%; top: 10%}
    }
    
    .tri7pant2 {
        position: absolute;
         animation: tri7pant2 12s alternate 1 ease-out forwards;
        animation-delay: 29s;
        left: 110%;
        top: 50%;
    }
    
    @keyframes tri7pant2 {
        0% {left: 110%; top: 50%;}
        100% {left: 31%; top: 50%}
    }
    
    
    .tri8pant2 {
        position: absolute;
         animation: tri8pant2 11s alternate 1 ease-out forwards;
        animation-delay: 20s;
        left: -15%;
        top: 50%;
    }
    
    @keyframes tri8pant2 {
        0% {left: -10%; top: 50%;}
        100% {left: 61%; top: 50%}
    }
    
    .tri9pant2 {
        position: absolute;
         animation: tri9pant2 12s alternate 1 ease-out forwards;
        animation-delay: 23s;
        left: 40%;
        top: -60%;
    }
    
    @keyframes tri9pant2 {
        0% {left: 40%; top: -60%;}
        100% {left: 41%; top: 48%}
    }


/* ANIMACION MICROBIO ROJO JUEGO 3 */


.tripant3 {
    position: absolute;
     animation: tripant3 11s alternate 1 ease-out forwards;
    animation-delay: 5s;
    left: 110%;
    top: 0%;
}

@keyframes tripant3 {
    0% {left: 110%; top: 0%;}
    100% {left: 50%; top: 30%}
}

.tri2pant3 {
    position: absolute;
     animation: tri2pant3 10s alternate 1 ease-out forwards;
    animation-delay: 10s;
    left: 50%;
    top: -40%;
}

@keyframes tri2pant3 {
    0% {left: 50%; top: -40%;}
    100% {left: 45%; top: 25%}
}

.tri3pant3 {
    position: absolute;
     animation: tri3pant3 10s alternate 1 ease-out forwards;
    animation-delay: 13s;
    left: 0%;
    top: 120%;
}

@keyframes tri3pant3 {
    0% {left: 0%; top: 120%;}
    100% {left: 60%; top: 20%}
}

.tri4pant3 {
    position: absolute;
     animation: tri4pant3 10s alternate 1 ease-out forwards;
    animation-delay: 20s;
    left: 120%;
    top: 120%;
}

@keyframes tri4pant3 {
    0% {left: 120%; top: 120%;}
    100% {left: 35%; top: 40%}
}


.tri5pant3 {
    position: absolute;
     animation: tri5pant3 12s alternate 1 ease-out forwards;
    animation-delay: 14s;
    left: -20%;
    top: 50%;
}

@keyframes tri5pant3 {
    0% {left: -20%; top: 50%;}
    100% {left: 60%; top: 50%}
}

.tri6pant3 {
    position: absolute;
     animation: tri6pant3 0.5s alternate 1 ease-out forwards;
    animation-delay: 16s;
    left: -20%;
    top: -20%;
}

@keyframes tri6pant3 {
    0% {left: -20%; top: -20%;}
    100% {left: 40%; top: 40%}
}

.tri7pant3 {
    position: absolute;
     animation: tri7pant3 0.5s alternate 1 ease-out forwards;
    animation-delay: 13s;
    left: 120%;
    top: 40%;
}

@keyframes tri7pant3 {
    0% {left: 120%; top: 40%;}
    100% {left: 37%; top: 15%}
}

.tri8pant3 {
    position: absolute;
     animation: tri8pant3 0.5s alternate 1 ease-out forwards;
    animation-delay: 18s;
    left: 20%;
    top: -40%;
}

@keyframes tri8pant3 {
    0% {left: 20%; top: -40%;}
    100% {left: 45%; top: 46%}
}

.tri9pant3 {
    position: absolute;
     animation: tri9pant3 12s alternate 1 ease-out forwards;
    animation-delay: 17s;
    left: 60%;
    top: -30%;
}

@keyframes tri9pant3 {
    0% {left: 60%; top: -30%;}
    100% {left: 35%; top: 65%}
}


/* ANIMACION MICROBIO VERDE JUEGO 3 */


.cuapant3 {
    position: absolute;
     animation: cuapant3 12s alternate 1 ease-out forwards;
    animation-delay: 7s;
    left: 130%;
    top: 130%;
}

@keyframes cuapant3 {
    0% {left: 130%; top: 130%;}
    100% {left: 55%; top: 25%}
}

.cua2pant3 {
    position: absolute;
     animation: cua2pant3 10s alternate 1 ease-out forwards;
    animation-delay: 15s;
    left: -30%;
    top: -30%;
}

@keyframes cua2pant3 {
    0% {left: -30%; top: -30%;}
    100% {left: 60%; top: 58%}
}

.cua3pant3 {
    position: absolute;
     animation: cua3pant3 12s alternate 1 ease-out forwards;
    animation-delay: 19s;
    left: 50%;
    top: 130%;
}

@keyframes cua3pant3 {
    0% {left: 50%; top: 130%;}
    100% {left: 50%; top: 15%}
}

.cua4pant3 {
    position: absolute;
     animation: cua4pant3 10s alternate 1 ease-out forwards;
    animation-delay: 14s;
    left: 130%;
    top: -40%;
}

@keyframes cua4pant3 {
    0% {left: 130%; top: -40%;}
    100% {left: 45%; top: 65%}
}

.cua5pant3 {
    position: absolute;
     animation: cua5pant3 10s alternate 1 ease-out forwards;
    animation-delay: 20s;
    left: -30%;
    top: 130%;
}

@keyframes cua5pant3 {
    0% {left: -30%; top: 130%;}
    100% {left: 50%; top: 43%}
}

.cua6pant3 {
    position: absolute;
     animation: cua6pant3 11s alternate 1 ease-out forwards;
    animation-delay: 7s;
    left: 60%;
    top: 130%;
}

@keyframes cua6pant3 {
    0% {left: 60%; top: 130%;}
    100% {left: 45%; top: 15%}
}

.cua7pant3 {
    position: absolute;
     animation: cua7pant3 11s alternate 1 ease-out forwards;
    animation-delay: 11s;
    left: 50%;
    top: -40%;
}

@keyframes cua7pant3 {
    0% {left: 50%; top: -40%;}
    100% {left: 50%; top: 65%}
}

.cua8pant3 {
    position: absolute;
     animation: cua8pant3 12s alternate 1 ease-out forwards;
    animation-delay: 18s;
    left: 120%;
    top: -40%;
}

@keyframes cua8pant3 {
    0% {left: 120%; top: -40%;}
    100% {left: 35%; top: 55%}

}


.cua9pant3 {
    position: absolute;
     animation: cua9pant3 10s alternate 1 ease-out forwards;
    animation-delay: 10s;
    left: 20%;
    top: -40%;
}

@keyframes cua9pant3 {
    0% {left: 20%; top: -40%;}
    100% {left: 45%; top: 25%}
}

/* ANIMACION MICROBIO AZULES JUEGO 3 */

.circpant3 {
    position: absolute;
     animation: circpant3 11s alternate 1 ease-out forwards;
    animation-delay: 11s;
    left: 130%;
    top: 130%;
}

@keyframes circpant3 {
    0% {left: 130%; top: 130%;}
    100% {left: 55%; top: 55%}
}

.circ2pant3 {
    position: absolute;
     animation: circ2pant3 12s alternate 1 ease-out forwards;
    animation-delay: 8s;
    left: 0%;
    top: 130%;
}

@keyframes circ2pant3 {
    0% {left: 0%; top: 130%;}
    100% {left: 65%; top: 25%}
}

.circ3pant3 {
    position: absolute;
     animation: circ3pant3 12s alternate 1 ease-out forwards;
    animation-delay: 15s;
    left: 60%;
    top: -40%;
}

@keyframes circ3pant3 {
    0% {left: 60%; top: -40%;}
    100% {left: 45%; top: 65%}
}

.circ4pant3 {
    position: absolute;
     animation: circ4pant3 12s alternate 1 ease-out forwards;
    animation-delay: 14s;
    left: 50%;
    top: 130%;
}

@keyframes circ4pant3 {
    0% {left: 50%; top: 130%;}
    100% {left: 35%; top: 15%}
}

.circ5pant3 {
    position: absolute;
     animation: circ5pant3 12s alternate 1 ease-out forwards;
    animation-delay: 6s;
    left: 120%;
    top: 40%;
}

@keyframes circ5pant3 {
    0% {left: 120%; top: 40%;}
    100% {left: 29%; top: 35%}
}

.circ6pant3 {
    position: absolute;
     animation: circ6pant3 10s alternate 1 ease-out forwards;
    animation-delay: 20s;
    left: -30%;
    top: 25%;
}

@keyframes circ6pant3 {
    0% {left: -30%; top: 25%;}
    100% {left: 55%; top: 45%}
}

/* SITUACIONES DE MICROMACHISMO LUEGO DE CADA PANTALLA Y MORALEJA FINAL */

.escena1 {
        background-image: url("img/escena/damasprimero.png");
        background-repeat: no-repeat;
        background-position: center;
}

.escena2 {
        background-image: url("img/escena/nonecesita.png");
        background-repeat: no-repeat;
        background-position: center;
}

.boton, .boton2 {
        position: absolute;
        top: 50%;
}
    
.boton {
    left: 15%;
}

.boton2 {
    left: 75%;
}
   
div .boton a, div .boton2 a {
        display: inline-block;
        background-color: #05f2db;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 14pt;
        padding: 15px 30px;
        font-family: 'Oswald', sans-serif;
}

.boton a:hover, .boton2 a:hover {
        color: black;
        display: inline-block;
        background-color:#f2055c;
        text-align: center;
        border-radius: 15px;
}

/*paginal final*/

.mora {
    position: fixed;
    height: 100%;
    color: #f2055c;
    top: 5%;
}

.mora p {
    margin-left: auto;
    margin-top: auto;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 3vw;
}

.final {
        background-image: url(img/fin.png);
        background-repeat: no-repeat;
        background-position: center bottom;
}




/*GENERAL*/
/*-----------------INFO ESTILO-------------*/
.accordion {
  background-color: #05f2db;
  color: black;
  cursor: pointer;
  padding: 2%;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 18pt;
  transition: 0.4s;
  font-family: 'Oswald', sans-serif;
  border-radius: 15px;
  margin-bottom: 1%;

}

.active, .accordion:hover {
  background-color: #f2055c;
  color: black; 
}


.panel { 
  display: none;
  background-color: #f29f05;
  color: black;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 1%;
}

.centrado {
    width: 50%;
    margin-top: 1.5%; 
}

.micro {
    padding-right: 5%;
}

.reflexion {
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: #f29f05;
    border-radius: 15px;
    padding: 3%;
}

.infondo {
    overflow: scroll;
}


div .boton5 a {
        display: inline-block;
        background-color: #05f2db;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        text-decoration: none;
        color: black;
        text-align: center;
        font-size: 14pt;
        padding: 15px 30px;
        font-family: 'Oswald', sans-serif;
    }

.boton5 {
    position: absolute;
    top: 62%;
    left: 22%;
}

.boton5 a:hover {
     color: black;
        display: inline-block;
        background-color:#f2055c;
        text-align: center;
        border-radius: 15px;

}



