* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row::after {content: ""; clear: both; display: table;}
[class*="col-"] {float: left; padding: 15px;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html, body {
  background-color: #F6F4F2;
  color: #252423;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.inicio, .botoninicio {
    text-align: center;
}

h1, p {
    margin-bottom: 20px;
    text-align: center;
}
.contenedor-hero, .contenedor-sol {
    background-color: white;
    opacity: 0.8;
    padding: 10px 50px;;
}
.contenedor-hero h1 {
    color: black;
    opacity: 1;
}
a {
    text-decoration: none;
    color: #30cc8b;
     background: -webkit-linear-gradient(left, #69bcf4, #30cc8b);
     -webkit-background-clip: text;
    font-weight: 700;
    border: 1px solid #30cc8b;
    margin-right: 20px;
    padding: 10px 50px;  
    display: block;
    min-height: 30px;
    width: 100%;
}

/*INICIO*/

.funky-animations {
  text-align: center;
}

.funky-animations div {
  margin: 10px auto;
  padding-top: 6px;
  height: 100px;

   animation: mymove 3s;
  animation-fill-mode: forwards;
}

.funky-animations h4 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  /* Fallback color */
  color: #30cc8b;
  background: -webkit-linear-gradient(left, #69bcf4, #30cc8b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;

}

span.animated {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

span::before,
span::after {
  position: absolute;
  top: -23px;
  content: "";
  height: 30px;
  width: 4px;
  border-radius: 2px;
  background: #30cc8b;
}

span::before {
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  transform:         rotate(-45deg);
}

span::after {
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

.centrar {
    text-align: center;
}
@media (max-width:400px) {
    .col-6 {
        width: 100%;
    }
}

/*lluvia*/
.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(img/Ecotest%20APOCALIPSIS.jpg);
    background-size: cover;
    animation: color-change 2s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contaminacion  {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(img/Ecotest%20MONTEVIDEO.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/rain.png);
    animation: rain 0.2s linear infinite;
}

@keyframes color-change {
    0%,100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}
@keyframes rain {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 10% 100%;
    }
}
/*sol*/
.sol {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(img/Ecotest%20NATURALEZA.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sol:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sun {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 40px;
    text-align: center;
    width: 100px;
    height: 100px;
    background: #ffe208;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(255,255,8,.5);
    animation: animate 20s linear infinite;
}
.sun li {
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 140px;
    height: 3px;
    background: #ffe208;
    box-shadow: 0 0 15px rgba(255,255,8,.5);
}
.sun li:nth-child(1) 
{
    transform: translate(-50%, -50%) rotate(0deg);
}
.sun li:nth-child(2) 
{
    transform: translate(-50%, -50%) rotate(90deg);
}
.sun li:nth-child(3) 
{
    transform: translate(-50%, -50%) rotate(45deg);
}
.sun li:nth-child(4) 
{
    transform: translate(-50%, -50%) rotate(-45deg);
}
.sun li:nth-child(5) 
{
    transform: translate(-50%, -50%) rotate(22.5deg);
}
.sun li:nth-child(6) 
{
    transform: translate(-50%, -50%) rotate(-22.5deg);
}
.sun li:nth-child(7) 
{
    transform: translate(-50%, -50%) rotate(67.5deg);
}
.sun li:nth-child(8) 
{
    transform: translate(-50%, -50%) rotate(-67.5deg);
}
@keyframes animate {
    0% 
    {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#myContainer {
  width: 100px;
  height: 100px;
  position: relative;
  background: ;
}
#myAnimation {
  width: 200px;
  height: 50px;
  position: absolute;
  background-color: red;
}
.siguiente {
  position: absolute;
    top: 735px;
    left: 860px;
}
.botonsiguiente {
    color: white;
    border: none;
}
.preguntalluvia {
    color: white;
    font-weight: 700;
}

/*pregunta 1 */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-22 16:37:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.button1{
    transition: 0.3s;
} 



.button1:hover {
   background: red;
  cursor: pointer;
    border: 1px solid red;
    color: white;
}
.button2:hover {
   background: yellow;
   cursor: pointer;
    border: 1px solid yellow;
    color: black;
}
.button3:hover {
   background: green;
  cursor: pointer;
    border: 1px solid green;
    color: white;
}


.tracking-out-expand {
	-webkit-animation: tracking-out-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: tracking-out-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-25 12:9:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-out-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-out-expand {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 1em;
    opacity: 0;
  }
}
@keyframes tracking-out-expand {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 1em;
    opacity: 0;
  }
}
.alinear {
    align-items: center;
}

@media (max-width:400px) {
    .col-4 {
        width: 100%;
    }
}
.hoja {
    border: none;
}


a:hover {

  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}
.enfasis {
    text-transform: uppercase;
    font-weight: 800;
}
.fondo {
     position: relative;
    width: 100%;
    height: 100vh;
    background: url(img/Fondo.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
   
}