/* Tipografía _______________________________ */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap');

/* Sistema de grilla _______________________________ */
* {box-sizing: border-box;}

.row::after {content:""; clear: both; display: table;}

[class*="col-"] {float: left;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Responsivo_______________________________ */
@media only screen and (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
    text-align: left;
  }

  .fondofigura {
  full-height: 100%;
  }

  .h1 {
  font-size: 20px;
  }

  .mito5 {
    width: 80%;
    float: center;
    padding-top: 10%;
  }

}

/* Estilo General_______________________________ */
html, body, {
  margin: 0px 0px;
  padding: 0px 0px; 
  background-color: none;
}

img {
  max-width:100%;
  height: auto;
}

a {
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-decoration: none; 
}

p {
font-family: 'Source Sans Pro', sans-serif;
text-decoration: none;
font-weight: 300;
color: white;
text-align: left;
font-size: 19px;
line-height: 25px;
}

h2 {
font-family: 'Montserrat', sans-serif;
text-decoration: none;
font-weight: 800;
color: white;
font-size: 45px;
line-height: 52px;
}

h3 {
font-family: 'Source Sans Pro', sans-serif;
text-decoration: uppercase;
letter-spacing: 3px;
font-weight: 400;
color: #1f5079;
font-size: 14px;
text-align: left;
line-height: 0px;
}

h4 {
font-family: 'Montserrat', sans-serif;
text-decoration: none;
font-weight: 600;
color: white;
font-size: 22px;
line-height: 26px;
}


/* Menu Home e Info_______________________________ */
.menu {
  position: fixed;
  vertical-align: right;
  top: 0;
  width: 100%;
  text-align: right;
  padding-right: 5%;
  padding-top: 3%;
  float: right;
  z-index: 100;
}

/* Menu Mitos_______________________________ */
.navbar {
  position: fixed;
  vertical-align: middle;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  float: center;
  z-index: 100;
}

.navbar a {
  float: center;
  display: inline-block;
  color: #f2f2f2;
  padding: 8px 12px;
  text-decoration: none;
}

.navbar a:hover {
  border: 2px solid;
  border-color: white;
  border-radius: 50%;
}

.navbar a.active {
  border: 2px solid;
  border-color: white;
  border-radius: 50%;
}

 .navbar a.inactive {
  opacity: 60%;
}

.circulo {
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}


/* Figuras Index_______________________________ */

.fondofigura {
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  position: relative;
  
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.scale-in-tr {
  -webkit-animation: scale-in-tr 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-tr 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tr {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}

.scale-in-tl {
  -webkit-animation: scale-in-tl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-tl 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-tl {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

.scale-in-ver-down {
  -webkit-animation: scale-in-ver-down 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-ver-down 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-down {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}

.scale-in-hor-left {
  -webkit-animation: scale-in-hor-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-hor-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    opacity: 1;
  }
}

.scale-in-hor-right {
  -webkit-animation: scale-in-hor-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-hor-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-hor-right {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    opacity: 1;
  }
}

.fondoindex_e {
    position:absolute;
    z-index:5;  
}

.fondoindex_d {
    position:absolute;
    z-index:4;
}

.fondoindex_c {
    position:absolute;
    z-index:3;
}

.fondoindex_b {
    position:absolute;
    z-index:2;
}

.fondoindex_a {
    position:absolute;
    z-index:1;
}

/* Index _______________________________ */
/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: 800;
  color: white;
  font-size: 40px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .0em; /* Adjust as needed */
  animation: 
    typing 5s steps(30, end),
    blink-caret .4s step-end infinite;
    padding: 10px;
    margin: 20%;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 60% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #39879B }
}

.btn {
  position: absolute;
  top: 60%;
  left: 52%;
  transform: translate(-60%, -50%);
  -ms-transform: translate(-60%, -50%);
  background-color: transparent;
  color: white;
  font-size: 14px;
  padding: 12px 24px;
  border: solid 1px white;
  cursor: pointer;
  letter-spacing: 4px;
  border-radius: 20px;
  padding: 12px 28px;
}

.btn:hover {
  background-color: #1f5079;
  color: white;
  border: none;
   -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 1s;
}


/* Efecto Texto _______________________________ */
.fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


.fade-in-bottom {
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}


/* Clases e IDs _______________________________ */

.fondoindex {
background-color:#e95442;
}

.fondo1 {
background-color:#e95442;
}

.fondo2 {
background-color:#DAAB4C;
}

.fondo3 {
background-color:#44A16D;
}

.fondo4 {
background-color:#39879b;
}

.fondo5 {
background-color:#EB533B;
}

.estilotexto {
 padding: 10%; 
 padding-top:10%; 
 margin-top: 1%;

}

.estilotextoinfo {
 padding-right: 8%;
 padding-left: 8%;
 padding-top:10%; 
 text-align: left;
}

/* Mito 1 */

.estilociguena {
  left: 0%;
  margin-top: 10%;
  padding-top: 0%;
  left: 0%;
  position:relative;
}

.over {
    position:absolute;
    z-index:100;  
}

.under {
    position:absolute;
    z-index:99;
}

.cursormito {
  cursor: pointer;
}

.verticaltext {
  transform: rotate(90deg);
  color: #1f5079;
  text-align: center;
  font-size: 13px;
  position: fixed;
  top: 50%;
  padding-right: 5%;
  letter-spacing: 1px;
}

.numeromito {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: 600;
  color: white;
  text-align: left;
  font-size: 17px;
  line-height: 22px;
  position: fixed;
  letter-spacing: 2px;
  top: 18%;
}

/* Efecto mitos _____________________ */
.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation-delay: 2s;
}

@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
            transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}


/* Mito 1 _____________________ */

#bolsa{
    position: relative;
}


#bolsa:hover {
  -webkit-animation: caebolsa 2s cubic-bezier(0.755, 0.050, 0.855, 0.060) backwards;
          animation: caebolsa 2s cubic-bezier(0.755, 0.050, 0.855, 0.060) backwards;
  animation-name: caebolsa;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@-webkit-keyframes caebolsa {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
  }
}

/* Mito 2 _____________________ */

.mito2 {
  padding-left: 0%;
  margin-left: 0%;
  margin-top: 1%;
  padding-top: 8%;
  position: relative;
}

#objeto {
  background-color: #215177;
  height: 150px;
  width: 100px;
  transition: width 2s;
  transition-timing-function: linear;
  margin-top: 18%;
  margin-left: 4%;
 }

#objeto:hover {
  width: 68%;
  }

/* Mito 3 _____________________ */

.mito3 {
  padding-left: 0%;
  margin-left: 0%;
  padding-top: 8%;
  position: relative;
}

.slide-right {
  -webkit-animation: slide-right 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.3s both;
          animation: slide-right 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.3s both;
}

@@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-700px);
            transform: translateX(-700px);
  }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-700px);
            transform: translateX(-700px);
  }
  100% {
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
}

/* Mito 4 _____________________ */

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

/* Mito 4 _____________________ */

.mito4 {
  padding-left: 0%;
  margin-left: 0%;
  margin-top: 4%;
  position: relative;
}

/* Mito 5 _____________________ */
 
.mito5 {
  margin-top: 5%;
  bottom: 0%;
  left: 5%;
  right: 0%;
  position: relative;
  vertical-align:bottom;
  display: flex;
  max-width: 100%;
}

#abeja {
  cursor: url("img/flores-abeja-cursor.png"), auto;
}

.flor1 img {
  filter: grayscale(100%) brightness(20%);
-webkit-filter: grayscale(100%) brightness(20%);
-moz-filter: grayscale(100%) brightness(20%);
}

.flor2 img {
  filter: grayscale(100%) brightness(20%);
-webkit-filter: grayscale(100%) brightness(20%);
-moz-filter: grayscale(100%) brightness(20%);
}

.flor3 img {
  filter: grayscale(100%) brightness(20%);
-webkit-filter: grayscale(100%) brightness(20%);
-moz-filter: grayscale(100%) brightness(20%);
}

.flor1 img:hover {
  filter: grayscale(0%) brightness(100%);
-webkit-filter: grayscale(0%) brightness(100%);
-moz-filter: grayscale(0%) brightness(100%);
transition: 1s;
}

.flor2 img:hover {
  filter: grayscale(0%) brightness(100%);
-webkit-filter: grayscale(0%) brightness(100%);
-moz-filter: grayscale(0%) brightness(100%);
transition: 1s;
}

.flor3 img:hover {
  filter: grayscale(0%) brightness(100%);
-webkit-filter: grayscale(0%) brightness(100%);
-moz-filter: grayscale(0%) brightness(100%);
transition: 1s;
}

a:visited {
  background-image: 'img/trans1.png';
}

.scale-in-ver-bottom {
  -webkit-animation: scale-in-ver-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-ver-bottom 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
    opacity: 1;
  }
}


