/* Enlace Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Sistema de grilla */
* {box-sizing: border-box;}

.row::after {content: ""; clear: both; display: table;}

[class*="col-"] {float: left;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*General____________________________________________________*/

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/*Estilo____________________________________________________-*/

.fondouruguay {
  background-image: url(img/fondouruguay.jpg);
}

.fondonaranja {
  background-image: url(img/fondonaranja.jpg);
}

.fondocarrera {
	background-image: url(img/fondocarrera.jpg);
  background-size: 100%;
}


h1 {
  font-family: 'Roboto', sans-serif;
  color: #09024F;
  font-size: 35pt;
  text-align: right;
  padding-right: 150px;
  padding-top: 80px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #09024F;
  text-align: right;
  padding-right: 150px;
  padding-top: 10px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 18pt;
  color: #09024F;
  text-align: center;
}


#b1 {
  padding-top: 120px;
  padding-right: 150px;
  text-align: right;
}

#boton {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 30pt;
  color: #09024F;
  background-color: white;
  border-width: 4px;
  border-color: #09024F;
  border-style: solid;
  border-radius: 0.5em;
  padding: 15px 15px;
}

#boton:hover {
  cursor: pointer;
  background-color: #F2D785;
}

.boton2 {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 25pt;
  color: #09024F;
  background-color: white;
  border-width: 4px;
  border-color: #09024F;
  border-style: solid;
  border-radius: 0.5em;
  padding: 15px 15px;
}

.boton2:hover {
  cursor: pointer;
  background-color: #F2D785;
}

.pointer:hover {
	cursor: pointer;
}

#titulo4 {
  font-size: 20pt;
  text-align: center;
  padding-left: 140px;
  padding-top: 40px;  
  padding-bottom: 5px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  color: #09024F;
  line-height: 20pt;
  text-align: left;
}

p a {
  color: #09024F;
  text-decoration: none;
  font-weight: bold;
}

.textocentrado1 {
  padding-left: 150px;
  padding-right: 50px;
}

.textocentrado2 {
  padding-left: 50px;
  padding-right: 150px;
}

#b4 {
  padding-top: 110px;
  text-align: right;
}

.boton4 {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 12pt;
  color: #09024F;
  background-color: white;
  border-width: 2px;
  border-color: #09024F;
  border-style: solid;
  border-radius: 0.5em;
  padding: 6px 6px;
}

.boton4:hover {
  cursor: pointer;
  background-color: #F2D785;
}

/*Temporizador_______________________________________________*/

.timer{
  background-color: #F2DEA0; 
  width:300px;
  height:54px;
  position:fixed;
  border-width: 2px;
  border-color: #09024F;
  border-style: solid;
}

.timer span{
  display:block;
  background-color: #F2A97E;
  width:300px; height:50px;
  animation:timer 15s linear;
}

.timer span:before{  
  content:"TIEMPO RESTANTE";
  display:block;
  position:absolute;
  z-index:3;
  left:0; 
  right:0;
  top:0;
  bottom:0;
  text-align:center;
  line-height:50px;
  font-size:25px;
  font-family: 'Roboto', sans-serif;
  color: #09024F;
}

@keyframes timer {
  0%{width:10px;}
  100%{width:300px; display:block;}
}

.gameover{
  position:fixed; z-index:100000; left:0; top:0; bottom:0; right:0; background-color:rgba(0,0,0,0.8);
  animation:gameover 15s linear forwards;
  font-size:80px; color:white; font-weight:bold; text-align:center; 
  text-indent:0;  
  line-height:500px;
}

@keyframes gameover {
  0%{left:-7000px;bottom:100%;}
  97%{left:-7000px;bottom:100%;}
  100%{ left:0px;}
}

#hombre {
	padding: 120px 20px 0px 20px;
  position: relative;
  -webkit-animation: mymoveH 2s infinite; 
  -webkit-animation-play-state: paused;
  animation: mymoveH 2s infinite;
  animation-play-state: paused;
}


@-webkit-keyframes mymoveH {
  from {left: 0px;}
  to {left: 200px;}
}

@keyframes mymoveH {
  from {left: 0px;}
  to {left: 100%;}
}

#mujer {
	padding: 60px 20px 0px 20px;
  position: relative;
  -webkit-animation: mymoveM 25s infinite; 
  -webkit-animation-play-state: paused;
  animation: mymoveM 25s infinite;
  animation-play-state: paused;
}


@-webkit-keyframes mymoveM {
  from {left: 0px;}
  to {left: 200px;}
}

@keyframes mymoveM {
  from {left: 0px;}
  to {left: 100%;}
}

