@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Rambla&display=swap');

/*-----CLASES COLS-----*/

* {box-sizing: border-box;}

.row::after {content: ""; clear: both; display: table;}

[class*="col-"] {float: left;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*--------------------*/

body {
	background-image: url(../imgs/fondo.jpg);
	background-size: cover;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.experiencia {
	background-image: url(../imgs/fondo.jpg);
	background-size: cover;
}

div.maquina {
	width: 580px;
	margin: auto;
	padding: 40px 0 40px 0;
}

.maquina h1 {
	font-family: 'Anonymous Pro', monospace; 
	font-size: 24pt;
	color: #48160C;
	text-align: center;
	transform: rotate(-2deg);
	/* efecto maquina */
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .12em solid black; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
    	typing 3.5s steps(35, end),
    	blink-caret .5s step-end infinite;
}
		/* The typing effect */
		@keyframes typing {
		  from { width: 0 }
		  to { width: 100% }
		}

		/* The typewriter cursor effect */
		@keyframes blink-caret {
		  from, to { border-color: transparent }
		  50% { border-color: black }
		}
	/* efecto maquina */



/* ESTILO INFORMATIVA */

.mensaje {
	background-image: url(img/fondo.jpg);
	background-size: cover;
}

.mensaje h1, h2 {
	font-family: 'Anonymous Pro', monospace; 
	font-size: 48pt;
	color: #48160C;
	text-align: center;
}

h2 {
	font-size: 28pt;
	padding: 0 200px 0 200px;
}

h3 {
	font-family: 'Rambla', sans-serif;
	font-size: 18pt;
	text-align: center;
	font-weight: normal;
	padding: 0 150px 0 150px; 
}

.volver {
	color: #6d4776;
	font-size: 48pt;
	margin: auto;
	padding-bottom: 20px;
}

@keyframes volver {
	0% {transform: translateX(0px);}
	25% {transform: translateX(8px);}
	50% {transform: translateX(0px);}
	75% {transform: translateX(8px);}
	100% {transform: translateX(0px);}
}

.volver:hover {
	animation-name: volver;
	animation-duration: 0.4s;
	-webkit-animation-name: volver;
	-webkit-animation-duration: 0.4s;
}

.tooltip {
	position: relative;
	display: inline-block;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 0px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
	font-size: 12pt;
	font-family: 'Rambla', sans-serif;
	}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.info {
	background-color: white;
	padding: 0 200px 0 200px;
}

.rasgado {
	padding: 0;
	margin: -10;
}

.rasgado img {
	width: 100%;
	height: auto;
	margin-bottom: -4px;
}

p {
	font-family: 'Rambla', sans-serif;
	font-weight: normal;
	font-size: 16pt;
	padding: 0 50px 0 50px; 
}

.dest {
	font-weight: bold;
}


.links {
	vertical-align: middle;
	padding-bottom: 80px;
}

.links img {
	height: 80px;
	margin: 0 30px;
	filter: grayscale(100%);
}

.links img:hover {
	transform: scale(1.1);
	transition: 0.2s;
	filter: grayscale(0%);
}

.adi {height: 60px;}

.cifras {
	text-align: center;
}

.cifras:hover {
	transform: scale(1.1);
	transition: 0.2s;
}

.año p {
	font-family: 'Rambla', sans-serif;
	font-weight: normal;
	font-size: 14pt;
	color: grey;
	margin-bottom: -40px;
}

.num p {
	font-family: 'Anonymous Pro', monospace; 
	font-size: 32pt;
	font-weight: bold;
	color: #6d4776;
}	

/*---- juego -----*/
#wrapper {
	width: 584px;
	margin: 25px auto;
	transform: rotate(1.5deg);
}

.contenedor {
	background: url('../imgs/background.png') 0 0 no-repeat;
	width: 598px;
	height: 484px;
	position: relative;
}

#jenny, #john, #karen, #larry  {
	position: absolute;
}

#jenny {
	width: 80px;
	height: 101px;
	left: 173px;
	top:130px;
}

#john {
	width: 78px;
	height: 98px;
	left: 335px;
	top: 58px;
}

#karen {
	width: 85px;
	height: 105px;
	left: 107px;
	top: 210px;
}

#larry {
	width: 85px;
	height: 105px;
	left: 428px;
	top: 93px;
}

.familia {
	display: inline-block;
	cursor: pointer;
	float: left;
}

#mensaje {
	width: 360px;
	font-family: 'Rambla', sans-serif;
	display: none;
	visibility: 0;
	border-radius: 6px;	
	position: absolute;
	background: #6c4675;
	text-align: center;
	padding: 1rem 3.5rem;
	color: white;
	border: 3px solid white;
	box-shadow: 2px 2px 4px rgba(0,0,0,6);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1000;
}

#mensaje h2, #mensaje h3 {
	color: white;
	padding: 0px 0px;
}

#mensaje button {
	margin-top: 1rem;
	padding: .5rem .8rem;
	border: none;
	border-radius: 4px;
	background: #fff;
	transition: all .3s ease-in-out;
}

#mensaje button:hover {
	background: #be9dc6;
}

#mensaje button a {
	text-decoration: none;
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}


img {
	max-width: 100%;	
}