
* {box-sizing: border-box;}
.row::after {content: ""; clear: both; display: table;}
[class*="col-"] {float: left; padding: 0px;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} 

/* GENERAL */

body {
    margin: 0;
    padding: 0;
}

.container {
    scroll-snap-type: y proximity;
}

/* HEADER */

.header {
    height: 55vw;
    width: 100%;
    background-image: url(img/bauhaus.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;;
    font-size: 20pt;
    color: rgb(117, 20, 67);
    text-align: center;
    z-index: 100;
   }

.subHeader {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.headerHover1, .headerHover2, .headerHover3 {
    height: 100%;
    z-index: 1;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.headerHover1:hover {
    background-image: url(img/hov1.png);
}
.headerHover2:hover {
    background-image: url(img/hov2.png);
}
.headerHover3:hover {
    background-image: url(img/hov3.png);
}

/* BANQUITOS */



.banquitos {
    float: none;
    margin: auto;
    margin-top: 400px;
    transform: translateY(-50%);
    margin-bottom: -50px;
}

.banquitos .row { 
    float: none;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vw;   
}

.banquito {
    height: 100px;
    width: 100px;
    background-image: url(img/banquito0.png); 
}

#showOnScroll, #showOnScroll2 {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

/* GRÁFICA */

.sectionChart {
    margin-top: 600px;
    margin-bottom: 200px;
}

.sectionChart h2 {
    margin-bottom: 150px;
}

#chart {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.barra {
    width: 60vw;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 40vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition-delay: opacity 1s;
}

.mujeres, .hombres {
    margin: 0;
    height: 100%;
    display: flex;
    float: left;
    transition: width 2s ease-in-out;
}
.mujeres {
    width: 58%;
    background-color: rgb(117, 20, 67);
    background: linear-gradient(90deg, rgb(117, 20, 67) 0%, rgb(125, 25, 75) 100%);
    box-shadow: inset -20px 0px 10px -10px rgb(88, 38, 69);
}
.hombres {
    width: 42%;
    background-color: rgb(242, 103, 84);
    background: linear-gradient(90deg, rgb(250, 110, 90) 0%, rgb(242, 103, 84) 100%);
}

.barra p {
    color: white;
    font-size: 16pt;
    font-family: 'Poppins', sans-serif;
    margin: auto;
}

.grado {
    color: rgb(117, 20, 67);
    font-size: 15pt;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding-left: 100px;
}

.line {
    height: 800px;
    width: 5px;
    border-left: solid 4px rgb(117, 20, 67);
    margin-left: 110px;
}
/* CONCLUSION */

.sectionCasu {
    background-color: rgb(117, 20, 67);
    padding-top: 300px;
    scroll-snap-align: start;
}

.sectionCasu h2 {
    color: white;
}

.casu {
    margin: auto;
    margin-top: 100px;
    margin-bottom: 350px;
    width: 80vw;
    justify-self: center;
    display: flex;
    justify-content: space-between;
}

.info {
    height: auto;
    width: 45%;
    background-color: rgb(242, 103, 84);  
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.info h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 20px;
}
.info p {
    font-size: 16px;
}

.sectionConc {
    margin-top: 100px;
    margin-bottom: 500px;
}
.conclu {
    width: 60vw;
    margin: auto;
    margin-top: 100px;
}
.conclu p {
    color: rgb(117, 20, 67);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
}


/* INSTAGRAM */

.insta {
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    outline: none;
    position: relative;
    bottom: 150px;
    left: 49%;
}
.insta img {
    height: 50px;
    width: 50px;
}

/* REINICIO */

.home {
    color: white;
    background-color: rgb(200, 200, 200);
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    right: 50px;
    height: 80px;
    width: 80px;
    cursor: pointer;
    outline: none;
    z-index: 1000;
    
}
.home img{
    width: 80%;
    height: 80%;
    margin: 10%;
    margin-top: 12%;
}

.home:hover {
    background-color: rgb(242, 103, 84);
}
.home:focus {
    transform: rotate(-359deg);
    transition: transform 0.5s ease-out;
}