* {box-sizing: border-box
}
[class*="col-"] {float: left;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] 
  {width: 100%;}
}

/* Cuerpo: */

body {
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: 'Raleway', sans-serif;
}

/* Imagenes: */

img {
	margin-top: auto;
	margin-bottom: auto;
	max-width: 100%; 
	height: auto;
}

/* Contenido pagina 1: */

.COMENZAR {
	display: inline-block;
	text-align: center;
	background-color: #f8e12e;
	color: white;
	font-size: 20pt;
	padding: 20px 40px 20px 40px;
	text-decoration: none;
	border-radius: 100px;
	margin: 5% 0 0 30%;	
}

.COMENZAR:hover {
	  background: transparent;
	  border: 3px solid #f8e12e;
      color: #f8e12e;
      padding: 20px 40px 20px 40px;
      font-size: 20pt;
      margin: 5% 0 0 30%;
}

.imagen1 {
	margin-top: 10%;
	padding: 0 120px 0 120px;
}

.textopagina1 {
	font-size: 30pt;
	margin-top: 20%;
	padding: 0 120px 0 120px;
}

/* Contenido pagina 2: */

.textopagina2 {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #f8e12e;
	font-size: 30pt;
	padding: 20px 20px 20px 20px
	margin: 10%;
}

.vehiculo1 {
	padding: 60px 100px 60px 100px;
}

.vehiculo2 {
	padding: 60px 100px 60px 100px;
}

/* Contenido pagina 3: */

.textopagina3a {
	text-align: center;
	color: black;
	font-size: 30pt;
	margin-top: 20%;
	padding: 0 120px 0 120px;
}

.textopagina3b {
	text-align: center;
	color: black;
	font-size: 15pt;
	padding: 0 120px 0 120px;
}

.SIEMPRE {
	display: inline-block;
	text-align: center;
	background-color: #f8e12e;
	color: white;
	font-size: 20pt;
	padding: 20px 40px 20px 40px;
	text-decoration: none;
	border-radius: 100px;
	margin: 5% 10% 0 10%;	
}

.SIEMPRE:hover {
	  background: transparent;
	  border: 3px solid #f8e12e;
      color: #f8e12e;
      padding: 20px 40px 20px 40px;
      font-size: 20pt;
      margin: 5% 10% 0 10%;
}

.AVECES {
	display: inline-block;
	text-align: center;
	background-color: #f8e12e;
	color: white;
	font-size: 20pt;
	padding: 20px 40px 20px 40px;
	text-decoration: none;
	border-radius: 100px;
	margin: 5% 10% 0 10%;	
}

.AVECES:hover {
	  background: transparent;
	  border: 3px solid #f8e12e;
      color: #f8e12e;
      padding: 20px 40px 20px 40px;
      font-size: 20pt;
      margin: 5% 10% 0 10%;
}

.CUANDO {
	display: inline-block;
	text-align: center;
	background-color: #f8e12e;
	color: white;
	font-size: 20pt;
	padding: 20px 40px 20px 40px;
	text-decoration: none;
	border-radius: 100px;
	margin: 5% 10% 0 10%;	
}

.CUANDO:hover {
	  background: transparent;
	  border: 3px solid #f8e12e;
      color: #f8e12e;
      padding: 20px 40px 20px 40px;
      font-size: 20pt;
      margin: 5% 10% 0 10%;
}

/* Contenido pagina 4: */

.imagen2 {
	text-align: center;
	color: black;
	margin: 10%;
	padding: 0px 40px 20px 40px;
}

.textopagina4a {
	text-align: center;
	color: #F95550;
	font-size: 30pt;
	padding: 20px 50px 0px 20px;
}

.textopagina4b {
	text-rendering: 20px;
	color: black;
	font-size: 20pt;
	padding: 30px 60px 0px 10px;
}

.textopagina4c {
	text-rendering: 20px;
	color: black;
	font-size: 15pt;
	padding: 0px 60px 0px 10px;
}

/* Semaforo: */

.PARAR {
	display: inline-block;
	text-align: center;
	background-color: #FFEA57;
	color: white;
	font-size: 16pt;
	padding: 20px 60px 20px 60px;
	text-decoration: none;
	border-radius: 100px;
	margin: 10% 20% 5% 35%;
}

.PARAR:hover {
	background: transparent;
	border: 3px solid #FFEA57;
    color: #FFEA57;
    padding: 20px 60px 20px 60px;
    font-size: 16pt;
    margin: 10% 20% 5% 35%;
}

.ATENCIÓN {
	display: inline-block;
	text-align: center;
	background-color: #82E0AA;
	color: white;
	font-size: 16pt;
	padding: 20px 40px 20px 40px;
	text-decoration: none;
	border-radius: 100px;
    margin: 5% 20% 5% 35%;
}

.ATENCIÓN:hover {
	background: transparent;
	border: 3px solid #82E0AA;
    color:  #82E0AA;
    padding: 20px 40px 20px 40px;
    font-size: 16pt;
    margin: 5% 20% 5% 35%;
}

.SEGUIR {
	display: inline-block;
	text-align: center;
	background-color: #F95550;
	color: white;
	font-size: 16pt;
	padding: 20px 60px 20px 60px;
	text-decoration: none;
	border-radius: 100px;
    margin: 5% 20% 5% 35%;
}

.SEGUIR:hover {
	background: transparent;
	border: 3px solid #F95550;
    color: #F95550;
    padding: 20px 60px 20px 60px;
    font-size: 16pt;
    margin: 5% 20% 5% 35%;
}

/* Contenido pagina 5: */

.imagen5 {
	margin: 10%;
}

.textopagina5 {
	text-align: center;
	color: black;
	font-size: 30pt;
	margin-top: 30%;
	padding: 0 120px 0 120px;
}


/* Contenido pagina 7: */

.pagina7 {
	background-color: white;
}

.textopagina7a {
	text-align: center;
	color: #F95550;
	font-size: 50pt;
	margin: 30% 10% 10% 10%;
}

.textopagina7b {
	text-align: center;
	color: black;
	font-size: 16pt;
	margin: 50% 10% 10% 0%;
}

/* Contenido pagina 8 y 9: */

.pagina8 {
	background-color: #F95550;
}

.textopagina8y9a {
	text-align: center;
	color: white;
	font-size: 50pt;
	margin: 25% 10% 10% 10%;
}

.textopagina8y9b {
	text-align: center;
	color: black;
	font-size: 16pt;
	margin: 50% 10% 10% 0%;
}

/* Contenido pagina 6 y 10: */

.textopagina6y10 {
	text-align: center;
	color: black;
	font-size: 30pt;
	margin-top: 20%;
	padding: 0 120px 0 120px;
}

h1 { font-size: 30pt;
	color: black;
}

h2 { font-size: 20pt;
}