* {  
	box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 0px;
  width: 100%;
}

@media only screen and (min-width: 768px) {

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

}


/*--Fondo de todo el html--*/

html, body {
  height: 100%;
  margin: 0;
  background-color: #e8e8e8;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


.notificacion {
  float: right;
  border-radius: 5px;
  color: white;
  background-color: #ff553b;
  margin: 1px 1px 4px 250px;
  padding: 4px 8px;
  text-align: center;
}

.div_noti {
  float: right;
  margin-bottom: 7px;
}

.video {
  position: top; 
  width: 100%; 
  height: auto; 
  visibility: visible
}

.chat {
  background-color: white;
  height: 100%;
  width: 430px;
  margin: auto;
  padding: 0px 0px 10px 0px;
  box-shadow: 3px 3px 4px #d9d9d9;
}

.user {
  text-align: center;
  font-weight: bold;
}

.chatizq {
  border: 1px solid #dedede;
  text-align: left;
  border-radius: 5px;
  background-color: #e8e8e8;
  padding: 3px;
  margin: 5px 50px 5px 7px;
  font-size: 90%;
  box-shadow: 2px 2px 4px #d9d9d9;
}

.chatder {
  border: 1px solid #b2d2d9;
  text-align: right;
  border-radius: 5px;
  background-color: #c3e4eb;
  padding: 3px;
  margin: 5px 7px 5px 50px;
  font-size: 90%;
  box-shadow: 2px 2px 4px #d9d9d9;
}

.chatizq_info {
  border: 1px solid #dedede;
  text-align: left;
  border-radius: 5px;
  background-color: #e8e8e8;
  padding: 6px 9px;
  margin: 5px 50px 5px 7px;
  font-size: 90%;
  box-shadow: 2px 2px 4px #d9d9d9;
}

.chatder_info {
  border: 1px solid #b2d2d9;
  text-align: right;
  border-radius: 5px;
  background-color: #c3e4eb;
  padding: 6px 9px;
  margin: 5px 7px 5px 50px;
  font-size: 90%;
  box-shadow: 2px 2px 4px #d9d9d9;
}

.imgchats_izq {
  float: left;
  max-width: 50px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.imgchats_der {
  float: right;
  max-width: 50px;
  width: 100%;
  margin-left: 20px;
  margin-right:0;
  border-radius: 50%;
}

.fotos {
  max-width: 100%;
  height: auto;
}

.chatfotoizq {
  border-radius: 5px;
  background-color: #e8e8e8;
  padding: 3px;
  margin: 5px 140px 5px 7px;
  box-shadow: 2px 2px 4px #d9d9d9;
}

.chatfotoder {
  text-align: right;
  border-radius: 5px;
  background-color: #c3e4eb;
  padding: 3px;
  margin: 5px 7px 5px 140px;
  font-size: 90%;
  box-shadow: 2px 2px 4px #d9d9d9;
}

.botones {
  text-decoration: none;
  text-align: center;
  color: black;
  border: 1px solid #d5e5e8;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 100px 5px 100px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 90%;
}

.botones_h {
  background-color: #dfeff2;
}

.botones_h:hover {
  background-color: #ebfcff;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.24);
}

.botonbloq {
  text-decoration: none;
  text-align: center;
  color: black;
  border: 1px solid #d5e5e8;
  border-radius: 5px;
  padding: 5px;
  margin: 10px 100px 220px 100px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.semanasdesp {
  text-align: center;
  color: #a3a3a3;
}


 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 1% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 


 /* ANIMACIONES */

.fade-in-top {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
          animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
}
.fade-in-top2 {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4s both;
          animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 4s both;
}

.fade-in-top3 {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 8s both;
          animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 8s both;
}

.fade-in-top4 {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 11s both;
          animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 11s both;
}

.fade-in-top5 {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 14s both;
          animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 14s both;
}

.fade-in-top6 {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 17s both;
          animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 17s both;
}

.fade-in-top7 {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 20s both;
          animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 20s both;
}

.fade-in-top8 {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 23s both;
          animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 23s both;
}

.fade-in-top9 {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 25s both;
          animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 25s both;
}

.fade-in-top10 {
  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 26.5s both;
          animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 26.5s both;
}

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530)  both;
          animation: text-focus-in 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530)  both;
}

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.swing-in-top-bck {
  -webkit-animation: swing-in-top-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) 25.5s both;
          animation: swing-in-top-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) 25.5s both;
}

.swing-in-top-bck2 {
  -webkit-animation: swing-in-top-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) 24.5s both;
          animation: swing-in-top-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) 24.5s both;
}

.swing-in-top-bck3 {
  -webkit-animation: swing-in-top-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) 5.5s both;
          animation: swing-in-top-bck 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) 5.5s both;
}

/**
 * ----------------------------------------
 * animation swing-in-top-bck
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
            transform: rotateX(70deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.scale-in-right {
  -webkit-animation: scale-in-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 32s both;
          animation: scale-in-right 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) 32s both;
}

/**
 * ----------------------------------------
 * animation scale-in-right
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
}
@keyframes scale-in-right {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    opacity: 1;
  }
}
