@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');


body, html{
	margin: 0;
	padding: 0;
	height:100%;
	background-size:50%;
}

body {
	display:block;
}

img{
	border: 0;
}


#loader {
	position:absolute;
	width:100%;
	height:2000%;
	z-index:100;
	background-color:#e2e0e0;
}

#load {
	position:fixed;
	width:206px;
	left:50%;
	margin-left:-103px;
	top:50%;
	margin-top:-103px;
}

#load img {
	position:absolute;
}

#load #cl  {
	left:50%;
	margin-left:-36px;
	top:50%;
	margin-top:63px;
	opacity:0.8;
	position:absolute;
	}


#share {
	float:left;
	position:fixed;
	z-index:50;
	left:40px;
	bottom:40px;
}

#share a {
	opacity:0.4;
		-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}

#share a:hover {
	opacity:1;
}

#content {
	width:210px;
	float:left;
	position:absolute;
	bottom: 4px;
	left: 39px;
	height:41px;
	z-index:50;
	display:none;
	list-style: none;
	border-radius:0 3px 3px 0;
	background-color: rgba(255,255,255,0.4);
}


#content li {
	margin-top:10px;
	margin-left:10px;
	display:inline;
	float:left;
	width:95px;

}

#content li a{
	width:88px;
}

#nav{
	list-style: none;
	position: fixed;
	right: 44px;
	z-index:50;
	height:280px;
	margin-top:40px;
}


#menu {
	float:left;
	position:fixed;
	top:40px;
	left:40px;
	z-index:50;

}
#know {
	opacity:0.5;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}

#know:hover {
	opacity:1;
}

#shop {
	opacity:0.5;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}

#shop:hover {
	opacity:1;
}

#menu img {
	margin-right:30px;
}
#nav li{
	margin: 0 0 10px;
	height:10px;
}
#nav li a{
	opacity:0.4;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;

}
#nav li a:hover{
	opacity:1;

}
#nom {
		opacity:1;
	right:20px;
	position:absolute;
}
#nom li a{
	opacity:1;
	display:none;
	float:right;
}


#intro{
	background:url(images/logo2.png) 0 no-repeat;
	background-color:#000000;
	background-position:center;
	background-size:auto;
	position: relative;
	height: 100%;
	width: 100%;
	color: white;
	margin: 0 auto;
	padding: 0;
}

#intro a {
		border:none;
		background-color:transparent;
	opacity:0.6;
	bottom:15px;
	position:fixed;
	left:50%;
	width:30px;
	margin-left:-15px;
	z-index:20;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}

#intro a:hover {
	opacity:1;
}

@-moz-document url-prefix()
{
    #content {
        bottom:6px;
	}
}

@-moz-document url-prefix()
{
    #intro a {
        bottom:0px;

}

}

h1,h2,h3,h4 {
     font-family: 'Staatliches', cursive;
     color: #FF6A0F ;
    }

a {color: rgb(255, 140, 0);}
a:hover {color: MediumSeaGreen; text-decoration: none;}
a:active {color: MediumSeaGreen; text-decoration: none;}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



.home {
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 40px;
      background-color: rgba(255, 255, 255, 0.90);
      border: solid 10px;
      border-color: #fec56d;
      border-radius: 25%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      animation: fadein 3s;
  }

.estructura {
      background-image: url(images/1.png);
      background-size: 100%;
      height: 100%;
      background-position: top;
      text-align: center;
      background-repeat: repeat;
			z-index: 2;
      }

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }


.opcion {
        background-color: rgb(255, 140, 0);
				border-color: rgb(255, 140, 0);
        border-radius: 35%;
        border:solid 10px;
        transition: all 200ms ease-out;
        transition-property: all;
        transition-duration: 200ms;
        transition-timing-function: ease-out;
        transition-delay: 0s;
        width: 100%; height: 100%;
      }

.logo {
              background-color: #fec56d;
              border: solid;
              border-color: #fec56d;
              border-radius: 35%;
              transition: all 200ms ease-out;
              transition-property: all;
              transition-duration: 200ms;
              transition-timing-function: ease-out;
              transition-delay: 0s;
              width: 60%; height: 60%;
              margin-left: 5%;
              margin-top: 2%;
            }

#footer {
            background-color: black;
            text-align: center;
            color: white;
            font-family: 'Staatliches', cursive;
            font-size: 130%;
            }

.pai       {
  width: 25%;
  height: 25%;}


.nombres {
  width: 100%; height: 100%;

}
.opcionrocco:hover {background-color: green;
              background-image: url(images/rocco20.png);
              background-size:contain;
              border-color: green;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              transform: scale(1.15);
              }

.opcionyeca:hover {background-color: green;
              background-image: url(images/yeca20.png);
              background-size:contain;
              border-color: green;
              box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              transform: scale(1.15);
              }

.logo:hover {background-color: green;
            background-image: url(images/logo.png);
            background-size:contain;
            border-color: green;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            transform: scale(1.15);
              }

              #objeto1  {
                margin-top: -30px;
                height: 100px;
                width: 300px;
                opacity: 0.01;
              }

              #objeto1:hover{
                width: 300px;
                height: 250px;
                -webkit-transition: height 2s;
                transition: height 2s;
                opacity: 0.9;
              }




/* Historia de vida de cada Personaje */


#fondo1{
	background: url(images/fondo1.jpg) 50% no-repeat fixed;
	background-color:#000;
	background-size:100%;
	background-color: #183521;
	height: 110%;
	width:100%;
	margin: 0 auto;
	padding-top:0;
	overflow: hidden;
	position:relative;
	z-index:2;
}

#fondo1 .bg{
	background: url(images/yeca1.png) 38% 80% no-repeat fixed;
	height: 110%;
	padding: 0;
	position: absolute;
	width:inherit;
	z-index: 10;
	top:0px;
}




#fondo2{
	background: url(images/fondo2.jpg) 50% no-repeat fixed;
	background-color:#f4d0ad;
	background-size: 100%;
	background-color: #89becc;
	background-position: top;
	height: 110%;
	width:100%;
}

#fondo2 .bg{
	background: url(images/yeca2.png) 40% 80% no-repeat fixed;
	height: 110%;
	padding: 0;
	position: absolute;
	width:inherit;
	z-index: 10;
}


#fondo3{
	background: url(images/fondo3.jpg) 50% 0 no-repeat fixed;
	background-size:100%;
	background-color: #f8c8b4;
	color: white;
	height: 105%;
	padding:0;
	width:100%;
}

#fondo3 .bg{
	background: url(images/yeca3.png) 35% 80% no-repeat fixed;
	height: 105%;
	padding: 0;
	position: absolute;
	width:inherit;
	z-index: 10;
}


#fondo4{
	background: url(images/fondo4.jpg) 50% no-repeat fixed;
	background-size:100%;
	background-color: #e0b622;
	height: 105%;
	padding:0;
	width:100%;
}

#fondo4 .bg{
	background: url(images/yeca4.png) 35% 80% no-repeat fixed;
	height: 105%;
	padding: 0;
	position: absolute;
	width:inherit;
	z-index: 10;
}


#fondo5{
	background: url(images/fondo5.jpg) 50% no-repeat fixed;
	background-color:#16172b;
	background-size:100%;
	height: 110%;
	width:100%;
	margin: 0 auto;
	padding-top:0;
	overflow: hidden;
	position:relative;
	z-index:2;
}

#fondo5 .bg{
	background: url(images/rocco1.png) 35% 80% no-repeat fixed;
	height: 110%;
	padding: 0;
	position: absolute;
	width:inherit;
	z-index: 10;
	top:0px;
}




#fondo6{
	background: url(images/fondo6.jpg) 50% no-repeat fixed;
	background-color:#e9b1a2;
	background-size: 100%;
	background-position: top;
	height: 110%;
	width:100%;
}

#fondo6 .bg{
	background: url(images/rocco2.png) 38% 80% no-repeat fixed;
	height: 110%;
	padding: 0;
	position: absolute;
	width:inherit;
	z-index: 10;
}


#fondo7{
	background: url(images/fondo7.jpg) 50% 0 no-repeat fixed;
	background-size:100%;
	background-color: #ddb426;
	height: 105%;
	padding:0;
	width:100%;
}

#fondo7 .bg{
	background: url(images/rocco3.png) 33% 80% no-repeat fixed;
	height: 105%;
	padding: 0;
	position: absolute;
	width:inherit;
	z-index: 10;
}


#fondo8{
	background: url(images/fondo8.jpg) 50% no-repeat fixed;
	background-size:100%;
	background-color: #60946d;
	height: 105%;
	padding:0;
	width:100%;
}

#fondo8 .bg{
	background: url(images/rocco4.png) 39% 80% no-repeat fixed;
	height: 105%;
	padding: 0;
	position: absolute;
	width:inherit;
	z-index: 10;
}




#fond18 {
	text-align:center;
	position:fixed;
	top:50%;
	margin-top:-180px;
	margin-left:-300px;
	width:600px;
	left:50%;
}

#fond18 hr {
	border:none;
	width:280px;
	color:#ffffff;
	height:5px;
	background-color:#FFF;
	margin-top:20px;
	margin-bottom:20px;
}


#fond18 a {
	opacity:1;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition:all 0.2s ease-in-out;
}

#fond18 a:hover {
	opacity:0.6;
}




/* parallax */



.recorrido {height: 100%;}


.bloque1 {
          font-family: 'Staatliches', cursive;
          color: #FFFFFF;
          text-align: center;
          font-size: 150%;
          padding: 30px;
          width: 36%;
					margin-top: 35%;
					margin-left: 45%;
          background-color: rgb(0, 0, 0,  0.60);
          border-style: solid;
          border-radius: 30px;
          border-color: (201, 156, 129,);
          transition: all 200ms ease-out;
          transition-property: all;
          transition-duration: 200ms;
          transition-timing-function: ease-out;
          transition-delay: 0s;
          position: absolute;
					z-index:9;
        }

.bloque1:hover, .bloque2:hover, .reflexion:hover{
          transform: scale(1.15);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}


.titulo_boton {
					                    font-family: 'Staatliches', cursive;
					                    text-align: center;
					                    font-size: 150%;
					                    margin-top:5%;
					                    width: 10%;
					                    background-color: rgb(0, 0, 0,  0.60);
					                    border-radius: 10px;
					                    transition: all 200ms ease-out;
					                    transition-property: all;
					                    transition-duration: 200ms;
					                    transition-timing-function: ease-out;
					                    transition-delay: 0s;
					                    position: absolute;
					                    text-align: center;
					                    top: 5%;
					                    left: 65%;
					}






.textoboton {
					                  font-family: 'Staatliches', cursive;
					                  text-align: center;
					                  font-size: 150%;
					                  margin-top:5%;
														margin-left:70%;
					                  width: 10%;
					                  background-color: rgb(0, 0, 0,  0.60);
					                  border-radius: 10px;
					                  transition: all 200ms ease-out;
					                  transition-property: all;
					                  transition-duration: 200ms;
					                  transition-timing-function: ease-out;
					                  transition-delay: 0s;
					                  position: absolute;
					                  text-align: center;
														z-index:20;
					                  }

.texto {
					                    font-family: 'Staatliches', cursive;
					                    font-size: 70%;
					                    color: white;
					                    text-align: center;
					                    padding: 5%;
					                    border-radius: 10px;
					                    margin-top:5%;
					                    display: none;
					                    width: 300px;
					                    position: absolute;
					                    background-color: rgb(0, 0, 0,  0.60);
					                    overflow: auto;
					                  }

					                  .dropdown-item a {
					                    color: black;
					                    padding: 12% 16%;
					                    text-decoration: none;
					                    display: block;
					                  }

					                  .dropdown a:hover {
					                    background-color: #f1f1f1;
					                  }

					                  .show {
					                    display: block;
					                  }





          /* PARTE DE ABAJO */

					.reflexion {
					                    font-family: 'Staatliches', cursive;
					                    color: #FFFFFF;
					                    text-align: center;
					                    font-size: 250%;
					                    padding: 20px;
					                    border-radius: 10px;
					                    width: 50%;
					                    height: auto;
					                    background-color: rgb(0, 0, 0,  0.95);
					                    transition: all 200ms ease-out;
					                    transition-property: all;
					                    transition-duration: 200ms;
					                    transition-timing-function: ease-out;
					                    transition-delay: 0s;
					                    position: absolute;
					                  }

					.reflexion {
					                            top: 20%;
					                            left: 25%;
					                  }


.continuar {
            padding-top: 22%;
            padding-bottom: 30%;
            padding-left: 42%;
            background-image: url(images/1.png);
            width: 100%;
            color: white;
}


.button {
         text-align: center;
         font-size: 300%;
         width: 33%;
				 height: 33%;
         background-color: rgb(255, 140, 0, 0.95);
         font-family: 'Staatliches', cursive;
         color: #FFFFFF;
         border-radius: 10px;
         transition: all 200ms ease-out;
         transition-property: all;
         transition-duration: 200ms;
         transition-timing-function: ease-out;
         transition-delay: 0s;
         position: absolute;
}

.button {
          top: 55%;
          left: 45%;
}

.button p {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button p:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -30px;
  transition: 0.5s;
}

.button:hover p {
  padding-right: 35px;
}

.button:hover p:after {
  opacity: 1;
  right: 0;
}

.roccogif {
      z-index: 100;
			margin-left: -30%;
			margin-top: 20%;
  }

.yecagif {
	      z-index: 100;
				margin-left: -30%;
				margin-top: 25%;
	  }

	footer {
		position:relative;
		margin:0;
		padding:0;
		height:110%;
		background-color: #fec56d;
		text-align:center;
	}
  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
