/*Google Fonts*/
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/*Sistema de grilla*/
* {box-sizing: border-box;
  padding: 0;
  margin: 0;
  }


.row::after {content: ""; clear: both; display: table;}

[class*="col-"] {float: left;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}


/*Body*/
body {
	margin: 0;
	padding: 0;
	background-color: #1D1D1B; /*negro*/
	color: #F2E3C6;  /*blanquito crema*/
	font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

html, body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

img {max-width: 100%; height: auto;}

h1, h4 {color: #F2E3C6;
text-align: center;}

p, h4 {background-color: #1D1D1B;}

p {font-size: 15pt;}

a {color: #302717; /*marron oscuro*/
background-color: #F2E3C6; /*blanquito crema*/
text-decoration: none;}

.full-height {
  height: 100%;
}

.elige {
  padding: 20px;
}


.globo {
  float: left;
  display: inline-block;
  margin: 30px 37%;
  border: none; 
  background-color: none;
}

#botonglobo {
  background-size: 100%;
  padding: 50%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 50%;}

#botonglobo {background-image: url(img/globo03.jpg);
  border: 3px solid #8DB325;}

#botonglobo:hover {border: 3px solid #4D9333;}

/*Página globo*/

.primerparrafo{
  padding: 15px;
  margin-bottom: 10px;
  width: 900px;
  text-align: center;
}

.formatotexto {text-align: center;
  font-size: 48pt;
  padding: 30px;}

.botoncontinuar {position: relative;
  top: 20px;
  right: -200px;
  padding: 5px;}


.section {
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    margin-bottom: 10%;
    text-align: center;
}

#section1 {
    background-image: url(img/parque01.png);
    background-position: 80% 80%;
    height: 800px;
}

#section2 {
    background-image: url(img/parque01.png);
    background-position: 100% 100%;
    height: 800px;
}
#section3 {
    background-image: url(img/cuadradonegro.jpg);
    height: 800px;
}
#section4 {
    background-image: url(img/cuadradonegro.jpg);
    height: 800px;
    margin-top: -200px;
}
#section5 {
    background-image: url(img/cuadradonegro.jpg);
    height: 800px;
    margin-top: 100px;
}
#section6 {
    background-image: url(img/cuadradonegro.jpg);
    height: 650px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.mySlides1 {background-image: url(img/arbol01.png);
  background-position: 50% 80%;
  background-size: 100%;}

.mySlides2 {background-image: url(img/arbol05.png);
  background-position: 50% 0%;
  background-size: 50%;
  background-repeat: no-repeat;}

#mySlides2uno {background-image: url(img/arbol01.png);
  background-position: 50% 10%;
  background-size: 90%;
  background-repeat: no-repeat;
  padding-top: 0px;}

#mySlides2dos {background-image: url(img/arbol02.png);
  background-position: 50% 10%;
  background-size: 100%;
  background-repeat: no-repeat;}

.mySlides3 {background-image: url(img/arbol02.png);
  background-position: 50% 10%;
  background-size: 100%;
  background-repeat: no-repeat;}

.mySlides4 {background-image: url(img/parque01.png);
  background-position: 50% 80%;
  background-size: 200%;
  background-repeat: no-repeat;
  height: 600px;}

#mySlides4uno {background-image: url(img/cuadradonegro.jpg);
  background-position: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 0px;}

#mySlides4dos {background-image: url(img/cuadradonegro.jpg);
  background-position: 0;
  background-size: 100%;
  background-repeat: no-repeat;}

.respuesta {color: #302717; /*marron oscuro*/
background-color: #F2E3C6; /*blanquito crema*/
font-size: 28pt;
padding: 4px;
border: 1px solid #D5B467;
border-radius: 5px;
}

.intentar {background-color: black;
float: right;
padding: 4px;
color: red;
font-size: 25px;
border: 1px solid #8D1E13;
border-radius: 5px;
}

.intentar2 {background-color: black;
float: right;
padding: 4px;
color: red;
font-size: 25px;
border: 1px solid #8D1E13;
border-radius: 5px;
position: relative;
bottom: 150px;
}

.respuesta:hover, .intentar:hover, .intentar2:hover {background-color: rgba(122,122,121,1);}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides1, .mySlides2, .mySlides3, .mySlides4 {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #8D1E13; /*bordeaux*/
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev{
  left: 0;
  border-radius: 3px 0 0 3px;
}

.hide {
  background: #fff;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,1);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color: black;
  font-size: 20px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.slider{
  float: right;
  margin-top: 15px;
}

/*-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-1ra sección-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
#anim_globo01 {position: relative;
  -webkit-animation-name: globo01; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 5s;
  animation-name: globo01;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-delay: 5s;}

  /* Safari 4.0 - 8.0 */
@-webkit-keyframes globo01 {
  0%   {left:0px; top:0px;}
  100% {left:500px; top:-650px;}
}

/* Standard syntax */
@keyframes globo01 {
  0%   {left:0px; top:0px;}
  100% {left:500px; top:-650px;}
}

#mano {
  position: relative;
  margin-top: 380px;
  margin-left: -130px;}

/*-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-3ra sección-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
/*---------------------------------------1ra escena---------------------------------------*/
#anim_globodesinflado01 {position: relative;
  top: -150px;
  left: -220px;}

#anim_pajaro01 {position: relative;
  top: -30px;
  left: 0px;
  -webkit-animation-name: pajaro01; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: pajaro01;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pajaro01 {
  from {  top: -30px; left: 0px;}
  to {top: -120px; left: -220px;}
}
@keyframes pajaro01 {
  from {  top: -30px; left: 0px;}
  to {top: -120px; left: -220px;}
}
#anim_pajaro01:hover {animation-play-state: paused;}

/*---------------------------------------2da escena---------------------------------------*/
#anim_globodesinflado02 {position: relative;
  top: -150px;
  left: -220px;}

#anim_pajaro02 {position: relative;
  top: -140px;
  left: -260px;
  -webkit-animation-name: pajaro02; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate-reverse; /* Safari 4.0 - 8.0 */
  animation-name: pajaro02;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@-webkit-keyframes pajaro02 {
  0%   {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(-20deg);}
}
@keyframes pajaro02 {
  0%   {-webkit-transform: rotate(0deg);}
  100% {transform: rotate(-20deg);}
}
#anim_pajaro02:hover {animation-play-state: paused;}

/*---------------------------------------3ra escena---------------------------------------*/
#anim_globodesinflado03 {position: relative;
  top: -150px;
  left: -220px;}

#anim_pajaro03 {position: relative;
  top: -80px;
  left: -260px;
  -webkit-transition: -webkit-transform; /* Safari */
  transition: transform;
  transform: rotate(90deg);
}
#anim_pajaro03:hover {position: relative;
  -webkit-animation-name: pajaro03; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: pajaro03;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pajaro03 {
  0%   {top: -80px; left: -260px;}
  100% {top: 900px; left: 100px;}
}
@keyframes pajaro03 {
  0%   {top: -80px; left: -260px;}
  100% {top: 900px; left: 100px;}
}

/*-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-4ta sección-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
/*---------------------------------------1ra escena---------------------------------------*/
#anim_escalera01 {position: relative;
  left: 150px;
  top: -228px;
}

#anim_mano02 {position: relative;
  left: -50px;
  top: -210px;
}
#anim_mano02:hover  {-webkit-animation-name: mano02; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: mano02;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes mano02 {
  0%   {top: -210px; left: -50px;}
  100% {top: -230px; left: -50px;}
}
@keyframes mano02 {
  0%   {top: -210px; left: -50px;}
  100% {top: -230px; left: -50px;}
}

#anim_mano03 {position: relative;
  left: -50px;
  top: -210px;
}
#anim_mano03:hover  {-webkit-animation-name: mano03; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: mano03;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes mano03 {
  0%   {top: -210px; left: -50px;}
  100% {top: -230px; left: -50px;}
}
@keyframes mano03 {
  0%   {top: -210px; left: -50px;}
  100% {top: -230px; left: -50px;}
}

#anim_globo02 {position: relative;
  left: -200px;
  top: -550px;
  transform: rotate(-20deg);
}

#anim_pajaro04 {position: relative;
  left: -400px;
  top: -635px;
  -webkit-animation-name: pajaro04; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: pajaro04;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pajaro04 {
  from {top: -635px; left: -400px;}
  to {top: -610px; left: -350px;}
}
@keyframes pajaro04 {
  from {top: -635px; left: -400px;}
  to {top: -610px; left: -350px;}
}
#anim_pajaro04:hover {animation-play-state: paused;}

.text4_1 {color: #f2f2f2;
  background-color: black;
  font-size: 20px;
  padding: 5px 12px;
  position: relative;
  bottom: 260px;
  width: 100%;
  text-align: center;
}

/*---------------------------------------2da escena---------------------------------------*/
#anim_pajaro05 {position: relative;
  top: -350px;
  left: -130px;
}

#anim_globo03 {position: relative;
  top: -60px;
  left: 120px;
  transform: rotate(-20deg);
}
#anim_globo03:hover {-webkit-animation-name: globo02; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate-reverse; /* Safari 4.0 - 8.0 */
  animation-name: globo02;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@-webkit-keyframes globo02 {
  0%   {-webkit-transform: rotate(20deg);}
  100% {-webkit-transform: rotate(-20deg);}
}
@keyframes globo02 {
  0%   {-webkit-transform: rotate(20deg);}
  100% {transform: rotate(-20deg);}
}

#anim_mano04 {position: relative;
  top: -100px;
  left: -100px;
  transform: rotate(20deg);
}
#anim_mano04:hover {-webkit-animation-name: mano04; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: mano04;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes mano04 {
  from {top: -100px; left: -100px;}
  to {top: -120px; left: -50px;}
}
@keyframes mano04 {
  from {top: -100px; left: -100px;}
  to {top: -120px; left: -50px;}
}

#anim_explosion01 {position: relative;
  top: -320px;
  left: -50px;
  opacity: 0;
}
#anim_explosion01:hover {-webkit-animation-name: opacity; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
  animation-name: opacityon;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}
@-webkit-keyframes opacityon {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes opacityon {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.text4_2 {color: #f2f2f2;
  background-color: black;
  font-size: 20px;
  padding: 5px 12px;
  position: relative;
  bottom: 163px;
  width: 100%;
  text-align: center;
}

/*---------------------------------------3ra escena---------------------------------------*/

#anim_globodesinflado04 {position: relative;
  bottom: 20px;
  left: -250px;}

.text4_3 {color: #f2f2f2;
  background-color: black;
  font-size: 30px;
  padding: 5px 10px;
  position: relative;
  top: -200px;
  width: 100%;
  text-align: center;
}

.mySlides2 .respuesta {position: relative;
  top: -150px;
  font-size: 28px;
  padding: 5px;}
#respuesta1 {top: -200px;}
#respuesta2 {top: -300px; left: 70px;}


/*-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-5ta sección-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
/*---------------------------------------1ra escena---------------------------------------*/

#anim_pajaro06 {position: relative;
  top: -45px;
  left: -100px;
  -webkit-animation-name: pajaro06; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: pajaro06;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@-webkit-keyframes pajaro06 {
  from {  top: -45px; left: -100px;}
  to {top: -40px; left: 48px;}
}
@keyframes pajaro06 {
  from {  top: -45px; left: -100px;}
  to {top: -40px; left: 48px;}
}
#anim_pajaro06:hover {animation-play-state: paused;}

#anim_globodesinflado05 {position: relative;
  top: -45px;}

.text5 {color: #f2f2f2;
  background-color: black;
  font-size: 20px;
  padding: 5px 10px;
  position: relative;
  top: -700px;
  width: 100%;
  text-align: center;}

/*---------------------------------------2da escena---------------------------------------*/

#anim_pajaro07 {position: relative;
  top: -45px;
  left: 48px;
  -webkit-animation-name: pajaro07; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  -webkit-animation-direction: alternate-reverse; /* Safari 4.0 - 8.0 */
  animation-name: pajaro07;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@-webkit-keyframes pajaro07 {
  0%   {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(40deg);}
}
@keyframes pajaro07 {
  0%   {-webkit-transform: rotate(0deg);}
  100% {transform: rotate(40deg);}
}
#anim_pajaro07:hover {animation-play-state: paused;}


/*---------------------------------------3ra escena---------------------------------------*/

#anim_pajaro08 {position: relative;
  top: -45px;
  left: 48px;
  -webkit-animation-name: pajaro08; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: 1; /* Safari 4.0 - 8.0 */
  animation-name: pajaro08;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-iteration-count: 1;
}
@-webkit-keyframes pajaro08 {
  0%   {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(-90deg);}
}
@keyframes pajaro08 {
  0%   {-webkit-transform: rotate(0deg);}
  100% {transform: rotate(-90deg);}
}



/*-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-6ta sección-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-*/
/*---------------------------------------1ra escena---------------------------------------*/

#anim_globodesinflado06 {position: relative;
  top: -80px;
  left: -110px;
  -webkit-animation: tirarglobo 0.6s 1;  
  -webkit-animation-play-state: paused; 
  animation: tirarglobo 0.6s 1;
  animation-play-state: paused;
}
@-webkit-keyframes tirarglobo {
  0%   {top: -80px; left: -110px;}
  10%  {top: -100px; left: -95px;}
  20%  {top: -120px; left: -80px;}
  30%  {top: -150px; left: -60px;}
  40%  {top: -180px; left: -30px;}
  50%  {top: -190px; left: 0px;}
  60%  {top: -195px; left: 20px;}
  70%  {top: -200px; left: 50px;}
  80%  {top: -195px; left: 70px;}
  90%  {top: -190px;left: 100px;}
  100% {top: -120px; left: 120px;}
}
@keyframes tirarglobo {
  0%   {top: -80px; left: -110px;}
  10%  {top: -100px; left: -95px;}
  20%  {top: -120px; left: -80px;}
  30%  {top: -150px; left: -60px;}
  40%  {top: -180px; left: -30px;}
  50%  {top: -190px; left: 0px;}
  60%  {top: -195px; left: 20px;}
  70%  {top: -200px; left: 50px;}
  80%  {top: -195px; left: 70px;}
  90%  {top: -190px;left: 100px;}
  100% {top: -120px; left: 120px;}
}

#anim_mano05 {position: relative;
  top: -20px;
  left: -250px;
}

#anim_basura01 {position: relative;
  top: -20px; 
  left: -100px;
}
#anim_basura01:hover {background: linear-gradient(21deg, #D5B467, #F2E3C6);
  }

.text6_1 {color: #f2f2f2;  background-color: black;
  font-size: 20px;
  padding: 5px 12px;
  position: relative;
  top: -600px;
  width: 100%;
  text-align: center;
}
/*---------------------------------------2da escena---------------------------------------*/
.mensajefinal1 {
  font-size: 17px;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.mensajefinal2 {
  font-size: 17px;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
}

.mensajefinal3 {
  font-size: 20px;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
}

/*---------------------------------------3ra escena---------------------------------------*/
.mensajefinal4 {
  font-size: 20px;
  text-align: center;
  padding-top: 4%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
}

.mensajefinal5 {
  font-size: 30px;
  text-align: center;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
}


#footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #7A7A79; /*gris*/
  text-align: center;
  height: 50px;
  font-size: 15pt;
  bottom: 500px;
}

#footer a:hover {color: #7A7A79;
  background-color: #1D1D1B;}
