@import url('https://fonts.googleapis.com/css?family=Raleway:300,400&display=swap');

{box-sizing: border-box} 

.row::after {content: ""; clear: both; display: table;}

[class*="col-"] {float: left;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} 



body {
	background-color: #C3CE6D;
	font-family: 'Raleway', sans-serif;
  margin: 0;
}





/*Menú*/
.menu {
  overflow: hidden;
}

.derecha {
	float: left;
}

.menu a { 
  border-radius: 5px; 
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu a:hover {
  background-color: white;
}

.menuorg a { 
  border-radius: 5px; 
  float: right;
  display: block;
  color: white;
  background-color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}



/*Botones*/

#boton {
  width: 100%;
}

#boton a  {
 font-family: 'Raleway', sans-serif;  
}

#boton .btn {
  position: absolute;
  background-color: #f1f1f1;
  color: black;
  font-size: 50px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 41%;
  margin-top: 250px;
  
}

#boton .btn:hover {
  background-color: black;
  color: white;
}


@keyframes example {
  0%   {top:340px;left:0px;}
  100% {top:340px;left:728px;}
}

#boton-transp .transp{
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer:;
  background-color:rgba(255, 99, 71, 0);
  position: relative; 

}

#boton-transp {
  position: relative;
  animation-name: example;
  animation-duration: 12s;
  animation-fill-mode: forwards;
  }

/*Sitio del Juego*/

#titulojuego {
  margin-top: 50px;
  text-align: center;
}

#gif {
  margin-left: 30%;
}

/*Banners o intento de banners*/

#bannerrespuesta #bannerrespuesta1 #bannerrespuesta2{
  height: 320px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  
}


/*Animación*/

.gifmugre {
 width: 100%;
}


@keyframes advertencia {
  0%   {top: 200px;color:rgba(255, 255, 255, 0);}
  50%  {top: 200px;color:rgba(255, 255, 255, 0);}
  100% {top: 200px;color:rgba(255, 255, 255, 100);}
}

#advertencia {
  position: fixed;
  animation-name: advertencia;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  text-align: center;

 }


@keyframes siguiente {
  0%   {top: 100px;color:rgba(255, 255, 255, 0);}
  50%  {top: 100px;color:rgba(255, 255, 255, 0);}
  100% {top: 100px;color:rgba(255, 255, 255, 100);}
}

#advertencia a {
  text-decoration-line:none; 
  position: relative;
  animation-name: siguiente ;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  text-align: center;
  }

/*Sitio Preguntas*/

#pregunta {
  text-align: center;
}

#pregunta h1 {

  margin-top: 50px;
}

#respuesta1, #respuesta2, #respuesta3 {
  position: center;
  width: 100%;
}


#respuesta1 .btn-resp1 {
  position: absolute;
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-left: 10px;
  margin-top: 200px;
}

#respuesta1 .btn-resp1:hover {
  background-color: black;
  color: white;
}

#respuesta2 .btn-resp1 {
  position: absolute;
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-left: 700PX;
  margin-top: 200px;

}

#respuesta2 .btn-resp1:hover {
  background-color: black;
  color: white;
}

#respuesta3 .btn-resp1 {
  position: absolute;
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-left: 1250px;
  margin-top: 200px;
}

#respuesta3 .btn-resp1:hover {
  background-color: black;
  color: white;
}

/*Respuestas*/ 

#titulomal {
  text-align: center;
  margin-top: 50px;
}

#respuestas {
  text-align: center;
  margin-left: 33.5%;
  margin-top: 10px;
}

#vuelve .btn-respinc {
  position: absolute;
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-left: 40.5%;
  margin-top: 50px;
}

#vuelve .btn-respinc:hover {
  background-color: black;
  color: white;
}

/*Organizaciones*/

#organizaciones {
  text-align: center;
}

#textorg {
  text-align: center;
  margin-top: 150px;
}

#org #org2{
  text-align: center;
}

#org .btn-org {
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-left: 50%;
  margin-top: 22px;
}

#org2 .btn-org {
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 16px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-left: 15%;
  margin-top: 40px;
}

#org .btn-org:hover {
  background-color: black;
  color: white;
}

#org2 .btn-org:hover {
  background-color: black;
  color: white;
}

#mugrebanner {
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: auto;

}