/* Tipografías */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Sistema de grilla */
* {box-sizing: border-box;}

.row::after {content:""; clear: both; display: table; clear: both;}

[class*="col-"] {float: left;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Responsivo */
@media only screen and (max-width: 768px) {
	[class*="ejemplo"] {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	[class*="col-"] {
		width: 100%;
	}
}

/* Estilo general para todo el sitio */
body {
	background-image: url("img/fondo.gif") ;
	margin: 0px;
	padding: 0px;
}

img {
	max-width: 100%;
	height: auto;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	color: #57573D;
	text-align: center;
	font-size: 30px;
}

p.preguntas {
	font-family: 'Roboto', sans-serif;
	color: #303030;
	font-weight: bolder;
	text-align: center;
	font-size: 30px;
}

p.geduca {
  font-family: 'Roboto', sans-serif;
  color: #303030;
  font-weight: bolder;
  text-align: center;
  font-size: 25px;
  padding-top: 5%; 
}

p a:link {
  color: #303030;
  background-color: transparent;
  text-decoration: none;
}

p a:visited {
  color: #303030;
  background-color: transparent;
  text-decoration: none;
}


/* MENU*/
.menu {
	float: left;
	width: 100%;
	height: auto;
	background-color: #57573D;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 2%;
	border: 3px;
}

.right {
	float: right;
	width: 100%;
	height: auto;
	border: 3px;
	padding: 10px;
}

.left {
	float: left;
	width: 100%;
	height: auto;
	border: 3px;
	padding: 10px;
}

.next {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10%;
}

.center/*index*/ {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5%;
}

.boton {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

/*ANIMACIONES*/

/*index texto*/
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
					animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/*preguntas*/
.text-focus-in {
	padding-top: 1%;
	padding-bottom: 1%;
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
					animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/*botones*/
.shadow-drop-center:hover {
	-webkit-animation: shadow-drop-center 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: shadow-drop-center 0.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/*personajes A*/
.flip-vertical-right:active {
  -webkit-animation: flip-vertical-right 0.25s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation: flip-vertical-right 0.25s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/*personajes B*/
.flip-vertical-left:active {
  -webkit-animation: flip-vertical-left 0.25s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation: flip-vertical-left 0.25s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-11-27 14:52:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}



@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}



@-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
}


@-webkit-keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}
@keyframes flip-vertical-left {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
}



