/*universal styling*/
/*----Tipografía para todo el sitio-----*/
@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Questrial&display=swap');


    font-family: 'Montserrat Alternates', sans-serif;

    font-family: 'Questrial', sans-serif;


/* Sistema de grilla */

* {box-sizing: border-box; border: none; 
}

.row::after {content: ""; clear: both; display: table;}

[class*="col-"]{float: left; border: none;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    max-width: 100%;
  }
}



 /* Estilo general para todo el sitio */

body {
 background-image: url("img/fondoweb.png");
 background-size: auto 100%;
 background-repeat: repeat-x;
 margin: 0px;
 padding: 0px;
 align-content: center;
 color: #000000; /* aplica color a la tipografía de todo el sitio salvo en los casos que mas abajo sobre-escribiremos */
 font: 14px/1.3 'Questrial', sans-serif;
 color: #444;
}

/*estilo para index*/

.item1 .item2 {
  display: grid;
  background-color: none;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

 #bloques{
  font-family: Questrial, sans-serif;
  font-size: 20px;  
  color: #C69C6D;
  text-align: center;

  margin: 20px;
  padding: 25px; 
  box-sizing: content-box;
  box-shadow: -6px 10px 5px 0px rgba(0,0,0,0.41);
  -webkit-box-shadow: -6px 10px 5px 0px rgba(0,0,0,0.41);
  -moz-box-shadow: -6px 10px 5px 0px rgba(0,0,0,0.41);
}


/*formato y animación lombriz*/
.fotolombriz {
  display: block;
    margin-left: auto;
    margin-right: auto;
  width: 300px;
  height: 300px;
}

#lombriz:hover {
  animation: shake 2s;
  animation-iteration-count: infinite;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/*estilo titulos*/
.titulo { 
  color: #000000;
  font-size: 2.5em;
  font-weight: bold;
  padding: 40px;
  font-family: 'Questrial';
  text-align: center;
  line-height: 1.6;
 }


p {
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 1.6;
}


/*pagina juego*/

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}



div {
  margin: 0px;
}

.clear {
  clear: both;
}

.page {
  max-width: 1000px;
  margin: 0px auto;
}

.drop-effect .container {
  height: auto;
  width: 100%
  margin: 5px 5px 5px 5px;
  padding: 25px 25px 25px 25px;
  background-color: transparent; 
}

.reset-button {
  background-color: #38A71D;
  border-radius: 6px;
  padding: 12px 15px;
  display: inline-block;
  cursor: pointer;
  margin-top: 25px;
}
/*universal*/

.drop-effect .drag-zone,
.drop-effect .drop-zone {
  width: 100%;
  height: auto;
  background:  transparent;
  padding: 5px 20px 5px 5px;
}

.drop-effect .drag-item,
.drop-effect .drop-item {
  width: 10%;
  margin: 15px 15px 15px 15px;
  float: left;
  text-align: center;
  overflow: hidden;
}

#pap {
  width: 15%;
  float: left;
  margin: 20px 25px 20px 100px;
  border: solid 1px #ccc;
}

#vermi {
  width: 22%;
  float: right;
  margin: 20px 200px 20px 25px;
  border: solid 1px #ccc;
}


.drop-effect .drag-item .drag,
.drop-effect .drop-item .drop {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  border: solid 1px transparent;
  height: auto;
  width: 100%;
  display: inline-block;
  transition: all 300ms ease-in;
}
/*drag related styles*/

.drop-effect .drag-zone {}

.drop-effect .drag-zone .drag {}

.drop-effect .drag-zone .drag.drag-active {
  border: solid 1px #333;
  opacity: 0.7;
}
/*drop related styles*/

.drop-effect .drop-zone {}

.drop-effect .drop-zone .drop {
  width: 100%;
  height: 0px;
  padding-bottom: 100%;
}

.drop-effect .drop-zone .drop.drop-active {
  border: solid 1px #AAA;
}
.drop-effect .drop-zone .drop.correct {
  border: solid 1px #32ce74;
}
.drop-effect .drop-zone img{
  width: 100%;
  height: auto;
}



/*botones*/

 .boton_personalizado {
  font-family: 'Montserrat Alternates', sans-serif;
  text-decoration: none;
  font-weight: 400;
  background-color: #38A71D;
  border-radius: 6px;
  border: 2px solid #000000;
  color: #000000;
  margin: 15px;
  padding: 20px;
  font-size: 20px;
  float: right;
  }

#boton_personalizado02 {
  font-family: 'Montserrat Alternates', sans-serif;
  text-decoration: none;
  font-weight: 400;
  background-color: #38A71D;
  border-radius: 6px;
  border: 2px solid #000000;
  color: #000000;
  margin: 15px;
  padding: 20px;
  font-size: 20px;
  float: left;
  }


}
  

/*ultima pagina*/

.body1 {

  background-color: transparent;
  height: 100%;
  width: auto;
  color: #ffffff;
  font-size: 25px;
  padding: 40px;
  text-align: center;
}

.body2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 25px;
  text-align: center;
  padding: 5px 10px 0px 25px;
  color: white;
}

.cuadrouno {
  padding: 5px 50px 5px 50px;
  font-family: 'Montserrat Alternates', sans-serif;

}

h4 {
  color: #000000;
  font-size: 30px;
  font-weight: bold;
  padding: 40px;
  font-family: 'Questrial';
  text-align: center;
  line-height: 1.6;
}



/*footer*/

#footer {
  font-family: 'Montserrat Alternates', sans-serif;
  padding-top: 25px;
  padding-bottom: 40px;
  background-color: #d0d0d0;
  text-align: center;
}
